.masthead h2.ui.header {
	margin-top: 1em;
	margin-bottom: 0em;
	font-size: 3em;
	font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.masthead.segment {
  min-height: 200px;
  padding: 1em 0em;
}

@media only screen and (max-width: 700px) {
  .masthead h2.ui.header {
	   font-size: 2em;
     margin-top: 1.5em;
  }
  .masthead h2 {
     margin-top: 0.5em;
     font-size: 1.5em;
  }
  
}