<div hidden class="ui compact icon menu" id="annotatorMenu">
  <a class="square outline popup icon active item" id="rectMenuItem" data-content="Rectangle">
    <i class="square outline icon"></i>
  </a>
  <a class="circle thin popup icon item" id="circleMenuItem" data-content="Circle">
    <i class="circle thin icon"></i>
  </a>
  <a class="cellipsis horizontal popup icon item" id="polygonMenuItem" data-content="Polygon">
    <i class="ellipsis horizontal icon"></i>
  </a>
  <a hidden class="pencil popup icon item" id="smartAnnotationFgMenuItem" data-content="Foreground Selection">
    <i class="pencil icon"></i>
  </a>
  <a hidden class="pencil popup icon item" id="smartAnnotationBgMenuItem" data-content="Background Selection">
    <i class="pencil icon"></i>
  </a>

  <a class="zoom popup icon item" id="zoomInMenuItem" data-content="Zoom In">
    <i class="zoom icon"></i>
  </a>
  <a class="zoom out popup icon item" id="zoomOutMenuItem" data-content="Zoom Out">
    <i class="zoom out icon"></i>
  </a>
  <a class="maximize popup icon item" id="panMenuItem" data-content="Pan">
    <i class="maximize icon"></i>
  </a>
  <a class="trash disabled popup icon item" id="trashMenuItem" data-content="Delete">
    <i class="trash icon"></i>
  </a>
  <a hidden class="active download popup orange icon item" id="loadAutoAnnotationsMenuItem" data-content="Load Auto Annotations">
    <i class="download icon"></i>
  </a>
  <a class="settings popup icon item mobile hidden" id="settingsMenuItem" data-content="Settings">
    <i class="settings icon"></i>
  </a>
</div>