<style>
  .justified {
    position: relative;
    width: 100%;
  }

  .justified-layout-item {
    position: absolute;
  }

  .grey-out {
    opacity: 0.4;
    filter: alpha(opacity=40); /* msie */
  }

</style>

<script>
  //var imageGridItems = [];
  var justifiedLayoutGeometry, imageGridData;
  var numOfLastFetchedImg = 0;
  var defaultBatchSize = 50;
  //var currentAnnotatedImageGridElement;
  var infiniteScroll = new InfiniteScroll(loadNextImagesInImageGrid, false);
  var browseAnnotationsOnlyMode = false;
  var imageGridCanvases = {};
  var numberOfQueryResults = 0;
  var numberOfCurrentlyShownResults = 0;
  var labelAccessorsLookupTable = {}

  var clearImageGrid = function() {
    imageGridCanvases = {};
    justifiedLayoutGeometry = null;
    imageGridData = null;
    numOfLastFetchedImg = 0;
    infiniteScroll.deactivate();
    $('#imageGrid').children().each(function () {
      $(this).remove();
    })
  }

  function onAnnotatedStatisticsLabelClicked(elem) {
    var labelName = elem.getAttribute("data-label-name");
    $("#annotationQuery").val(labelName);
    $("#browseAnnotationsGoButton").trigger("click");
    $("#annotatedStatisticsPopup").modal("hide");
  }

  function handleAnnotatedStatisticsRes(data) {
    var elem = '';
    var val; 
    var labelUrl = '';
	
    // detach element from DOM. This is much faster..especially when we are inserting thousand of elements
    const annotatedStatisticsPopupContentItem = $("#annotatedStatisticsPopupContent");
    const annotatedStatisticsPopupContentParentItem =  annotatedStatisticsPopupContentItem.parent();
    annotatedStatisticsPopupContentItem.detach();
    for(var i = 0; i < data.length; i++) {
      if(data[i].num.total === 0)
        val = 0;
      else
        val = Math.round(((data[i].num.completed / data[i].num.total) * 100));

      labelUrl = ('<a href="javascript:void(0);" data-label-name="' + data[i].label.name + '" onclick="onAnnotatedStatisticsLabelClicked(this);">' + 
                  data[i].label.name + ' (' + data[i].num.completed + '/' +  data[i].num.total +  ')' + '</a>');

      elem = $(('<div class="ui progress" data-value="' + val + '" data-total="100">' + 
                '<div class="bar">' +
                  '<div class="progress"></div>' +
                '</div>' +
               '<div class="label">' + labelUrl + '</div>'+
               '</div>'));
      elem.progress();

      annotatedStatisticsPopupContentItem.append(elem);
    }
    //re-attach to DOM
    annotatedStatisticsPopupContentItem.appendTo(annotatedStatisticsPopupContentParentItem);

    $("#annotatedStatisticsButton").removeClass("disabled");
  }

  function getAnnotatedStatistics() {
    var url = '{{ .apiBaseUrl }}/v1/statistics/annotated';
    $.ajax({
      url: url,
      dataType: 'json',
      beforeSend: function(xhr) {
        xhr.setRequestHeader("Authorization", "Bearer " + getCookie("imagemonkey"))
      },
      success: function(d) {
        handleAnnotatedStatisticsRes(d);
      }
    });
  }

  function showBrowseAnnotationImageGrid(imageGridImageIdentifiers = null) {
    //if the image grid gets shown again, the image in question was successfully annotated/blacklisted or marked
    //as non-annotatable. We now grey the image out and change the mouse cursor to default again.

    if(imageGridImageIdentifiers !== null) {
      for(var i = 0; i < imageGridImageIdentifiers.length; i++) {
        $("#"+imageGridImageIdentifiers[i]).addClass("grey-out");
      }
    }

    //show image grid and jump to scroll position that we were before
    $("#imageGrid").show();
    $("#annotationColumn").hide();
    $("#annotationQuerySearchContainer").show();
    infiniteScroll.resume();
    infiniteScroll.restoreScrollPosition();

    $("#bottomLabel").hide();

    //change label text (label is defined in annotate.html)
    $("#label").text("Browse");
    $("#label").attr("label", "");
    $("#sublabel").attr("sublabel", "");
  }
  function handleRes(d) {
    $("#imageGrid").show();
    if(d && d.length > 0) {
      imageGridData = d;
      sizes = [];

      numberOfQueryResults = 0;

      for(var i = 0; i < imageGridData.length; i++){
        numberOfQueryResults += 1;
        sizes.push({"width": imageGridData[i]["image"]["width"], "height": imageGridData[i]["image"]["height"]});
      }

      var justifiedLayout = require('justified-layout');
      justifiedLayoutGeometry = justifiedLayout(sizes, {
        "fullWidthBreakoutRowCadence": false,
        "containerWidth": document.getElementById("imageGrid").clientWidth,
        "boxSpacing": {
          "horizontal": 10,
          "vertical": 100
        }
      });

      loadNextImagesInImageGrid();
      infiniteScroll.activate();
      $('#browseAnnotationsErrorMessage').hide();
    }
    else{
      $('#browseAnnotationsErrorMessage').text("There are currently no annotation tasks for that label - please try another label!");
      $('#browseAnnotationsErrorMessage').show(200);
    }

    $('#browseAnnotationsLoadingSpinner').hide();
  }

  function populateImageGrid() {
    $('#browseAnnotationsLoadingSpinner').show();

    $("#imageGrid").hide();
    clearImageGrid();
    $("#numberOfQueryResults").text("");

    {{ if eq .annotationView "unified" }}
    browseAnnotationsOnlyMode = $("#annotationsOnlyCheckbox").checkbox("is checked");
    {{ end }}

    var url = '{{ .apiBaseUrl }}/v1/validations/unannotated';
    if(browseAnnotationsOnlyMode)
      url = '{{ .apiBaseUrl }}/v1/annotations';

    var query = $("#annotationQuery").val();
    $.ajax({
          url: url,
          dataType: 'json',
          data: {query: encodeURIComponent(query), shuffle: true},
          beforeSend: function(xhr) {
            xhr.setRequestHeader("Authorization", "Bearer " + getCookie("imagemonkey"))
          },
          success: function(d) {
            handleRes(d);
          }, 
          error: function(xhr, status, error) {
            var err = JSON.parse(xhr.responseText)["error"];
            var obj = $('#browseAnnotationsErrorMessage').text(err);
            obj.html(obj.html().replace(/\n/g,'<br/>'));
            $('#browseAnnotationsErrorMessage').show(200);
            $('#browseAnnotationsLoadingSpinner').hide();
            clearImageGrid();
          }
    });
  }

  function onImageGridItemClicked(elem) {
    var validationId = $(elem).attr("data-validationid");	
    $("#annotationQuerySearchContainer").hide();
    infiniteScroll.pause();
    infiniteScroll.saveScrollPosition();
    $("#imageGrid").hide();

    if(validationId === "") {
      var imageId = $(elem).attr("data-image-id"); 
      var imageUrl = $(elem).attr("data-orig-image-url");
      var imageWidth = $(elem).attr("data-orig-image-width");
      var imageHeight = $(elem).attr("data-orig-image-height");
      var imageUnlocked = ($(elem).attr("data-image-unlocked") === "true") ? true : false;
      annotationView.loadUnannotatedImageWithNoLabelsFromImageUrl(imageId, imageWidth, imageHeight, imageUrl, imageUnlocked);
    }
    else {
      annotationView.loadUnannotatedImage(validationId);
    }
  }

  function onImageGridCanvasClicked(data) {
    var annotationId = data["annotationId"];
    $("#annotationQuerySearchContainer").hide();
    infiniteScroll.pause();
    infiniteScroll.saveScrollPosition();
    $("#imageGrid").hide();
    annotationView.loadAnnotatedImage(annotationId, -1);
  }

  function newImageItem(id, url, validationId, top, left, width, height, tooltip, imageId, origImageWidth, origImageHeight, origImageUrl, imageUnlocked) {
    var d = ('<div class="justified-layout-item" data-balloon-visible data-balloon="' + tooltip 
            + '" data-balloon-length="fit" data-balloon-pos="up" style="width: ' + width 
            +'px; height: ' + height + 'px; top: ' 
            + top  + 'px; left: ' +  left + 'px"><img id="' + id +'" src="' + url 
            + '" data-validationid="' + validationId 
			+ '" data-orig-image-width="' + origImageWidth
			+ '" data-orig-image-height="' + origImageHeight
			+ '" data-image-unlocked="' + imageUnlocked
			+ '" data-orig-image-url="' + origImageUrl
			+ '" data-image-id="' + imageId
			+ '" onclick="onImageGridItemClicked(this);" style="cursor: pointer;"></div>');
    return d;
  }

  function newCanvasItem(id, url, validationId, top, left, width, height, tooltip) {
    var d = ('<div class="justified-layout-item" data-balloon-visible data-balloon="' + tooltip 
            + '" data-balloon-length="fit" data-balloon-pos="up" style="width: ' + width 
            +'px; height: ' + height + 'px; top: ' 
            + top  + 'px; left: ' +  left + 'px"><canvas id="' + id +'"></canvas></div>');
    return d;
  }

  function updateAnnotationsForImage(annotationId, annotations) {
    if(annotationId in imageGridCanvases) {
      imageGridCanvases[annotationId].clearObjects();
      var scaleFactor = imageGridCanvases[annotationId].getData()["annotationsScaleFactor"];
      imageGridCanvases[annotationId].drawAnnotations(annotations, scaleFactor);
    }
  }

  function drawAnnotationsCallback(canvas, annotations, scaleFactor){
    if(annotations !== undefined)
      canvas.drawAnnotations(annotations, scaleFactor);
  }

  function loadNextImagesInImageGrid() {
    var from = numOfLastFetchedImg;
    var n = defaultBatchSize;
    if((numOfLastFetchedImg + defaultBatchSize) > imageGridData.length){
      n = imageGridData.length - numOfLastFetchedImg;
    }

    if(n === 0)
      return;


    var imageUrl;
    var annotationsScaleFactor;
    var item;
    var currentDateTime = new Date().getTime();
    for(var i = from; i < (from + n); i++){
      var url = getUrlFromImageUrl(imageGridData[i]["image"]["url"], imageGridData[i]["image"]["unlocked"], "{{ .annotationMode }}", labelAccessorsLookupTable) 
                                  + ((imageGridData[i]["image"]["unlocked"] === true) ? '?' : '&') + "width=" + 
                                  Math.round(justifiedLayoutGeometry.boxes[i].width, 0) + 
                                  "&height=" + Math.round(justifiedLayoutGeometry.boxes[i].height, 0);
     
      var tooltipText = '';
      if(browseAnnotationsOnlyMode) {
        if(imageGridData[i].validation.sublabel !== "")
          tooltipText = escapeHtml(imageGridData[i].validation.sublabel) + "/" + escapeHtml(imageGridData[i].validation.label);
        else
          tooltipText = escapeHtml(imageGridData[i].validation.label);
      }
      else
        tooltipText = escapeHtml(imageGridData[i].label.accessor);
      
      if(browseAnnotationsOnlyMode) {
        var itemId = imageGridData[i]["uuid"];
        annotationsScaleFactor = justifiedLayoutGeometry.boxes[i].width / imageGridData[i]["image"]["width"];
        if(annotationsScaleFactor > 1.0)
          annotationsScaleFactor = 1.0;

        item = newCanvasItem(itemId, url, imageGridData[i]["uuid"], justifiedLayoutGeometry.boxes[i].top, justifiedLayoutGeometry.boxes[i].left, 
                              justifiedLayoutGeometry.boxes[i].width, justifiedLayoutGeometry.boxes[i].height, tooltipText);

        $("#imageGrid").append(item); 

        imageGridCanvases[itemId] = new CanvasDrawer(itemId, justifiedLayoutGeometry.boxes[i].width, justifiedLayoutGeometry.boxes[i].height);
        imageGridCanvases[itemId].setData({"annotationId" : imageGridData[i]["uuid"], "annotationsScaleFactor": annotationsScaleFactor});
        imageGridCanvases[itemId].makeClickable(onImageGridCanvasClicked);
        imageGridCanvases[itemId].setCanvasBackgroundImageUrl(url, drawAnnotationsCallback.bind(null, imageGridCanvases[itemId], imageGridData[i]["annotations"], annotationsScaleFactor));

      }
      else {
        if($("#highlightParentAnnotationsCheckbox").checkbox("is checked")) {
          var parentLabel = labelAccessorsLookupTable[imageGridData[i].label.accessor]; 
          if(parentLabel !== "") {
            //add the current timestamp to prevent that the browser caches images
            url += "&highlight=" + encodeURIComponent(parentLabel) + "&ts=" + currentDateTime;
          }
        }

        var itemId = imageGridData[i]["uuid"];
        if(itemId === "")
          itemId = imageGridData[i]["image"]["uuid"];

        item = newImageItem(itemId, url, imageGridData[i]["uuid"], justifiedLayoutGeometry.boxes[i].top, justifiedLayoutGeometry.boxes[i].left, 
                              justifiedLayoutGeometry.boxes[i].width, justifiedLayoutGeometry.boxes[i].height, tooltipText, 
							  imageGridData[i]["image"]["uuid"], imageGridData[i]["image"]["width"], imageGridData[i]["image"]["height"], 
							  imageGridData[i]["image"]["url"], imageGridData[i]["image"]["unlocked"]);
        $("#imageGrid").append(item); 
      }

      document.getElementById("imageGrid").style.height = (justifiedLayoutGeometry.boxes[(from + n - 1)].top 
                                                            + justifiedLayoutGeometry.boxes[(from + n - 1)].height)  + "px";
    }

    numOfLastFetchedImg += n;
    numberOfCurrentlyShownResults = numOfLastFetchedImg;

    $("#numberOfQueryResults").text(numberOfCurrentlyShownResults + "/" + numberOfQueryResults + " results shown");
  }

  function getRandomInt(min, max) {
    return Math.floor(Math.random() * (max - min + 1) + min);
  }

  $(document).ready(function(){
    //change label text (label is defined in annotate.html)
    $("#label").text("Browse");
    $("#label").attr("label", "");
    $("#sublabel").attr("sublabel", "");

    imageMonkeyApi.setToken(getCookie("imagemonkey"));


    var staticQueryAttributes = {{ .queryAttributes }};
    var availableLabels = staticQueryAttributes;
   
    var promises = [imageMonkeyApi.getLabelAccessors(true)];
    {{ if ne .sessionInformation.Username "" }}
    promises.push(imageMonkeyApi.getImageCollections({{ .sessionInformation.Username }}));
    promises.push(imageMonkeyApi.getLabelSuggestions(false));
    {{ end }}
    
    Promise.all(promises)
      .then(function(data) {
        for(var i = 0; i < data[0].length; i++) {
          availableLabels.push(data[0][i].accessor);
          labelAccessorsLookupTable[data[0][i].accessor] = data[0][i].parent_accessor;
        }
			
        if(data.length > 1) {
          for(var i = 0; i < data[1].length; i++) {
            availableLabels.push("image.collection='" + data[1][i].name + "'");	
          }
        }
        if(data.length > 2) {
          for(var i = 0; i < data[2].length; i++) {
            availableLabels.push(data[2][i]);
          }
        }
        $("#browseAnnotationsGoButton").removeClass("disabled");
      }).catch(function(e) {
        Sentry.captureException(e);
      });

    $('#annotatedStatisticsButton').click(function(e){
      $('#annotatedStatisticsPopup').modal('show');
    });


    new AutoCompletion("#annotationQuery", availableLabels);

    getAnnotatedStatistics();
    
    $("#randomAnnotationQueryButton").click(function(e) {
      var randomElem = availableLabels[getRandomInt(0, availableLabels.length - 1)];
      $("#annotationQuery").val(randomElem);
    });
  });
</script>

<div class="row"></div>
<div class="row" id="annotationQuerySearchContainer">
  <div class="four wide column"></div>
  <div class="eight wide center aligned column">
    <form class="ui form segment">
      <div class="field">
       <p class="default-text">Search for annotation tasks you are interested in</p>
       <div class="ui action input">
         <input placeholder="Query..." type="text" id="annotationQuery">
         <div class="ui icon button" id="randomAnnotationQueryButton">
           <i class="cube icon"></i>
         </div>
       </div>
      </div>

      {{ if eq .annotationView "unified" }}
      <div class="inline fields">
        <label>Options</label>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="searchOptions" checked="checked">
            <label>No Options</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox" id="annotationsOnlyCheckbox" data-tooltip="Rework existing annotations">
            <input type="radio" name="searchOptions">
            <label>Rework</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox" id="highlightParentAnnotationsCheckbox" data-tooltip="Highlight the annotation's parent">
            <input type="radio" name="searchOptions">
            <label>Highlight</label>
          </div>
        </div>
      </div>
      {{ end }}


      <div class="ui disabled primary submit button" id="browseAnnotationsGoButton" onclick="populateImageGrid();">Go</div>
      <div class="ui right aligned disabled button" id="annotatedStatisticsButton">
        <i class="chart bar icon"></i>
        Statistics
      </div>
    </form>
    <p id="numberOfQueryResults"></p>

    <div class="ui warning message" hidden id="browseAnnotationsErrorMessage">
      <i class="close icon"></i>
      <div class="header"></div>
    </div>
  </div>
  <div class="four wide column"></div>
</div>

<div class="row" id="browseAnnotationsLoadingSpinner" style="display: none;">
  <div class="sk-wave overlay">
    <div class="sk-rect sk-rect1"></div>
    <div class="sk-rect sk-rect2"></div>
    <div class="sk-rect sk-rect3"></div>
    <div class="sk-rect sk-rect4"></div>
    <div class="sk-rect sk-rect5"></div>
  </div>
</div>

<div class="row">
  <div class="one wide column"></div>
  <div class="fourteen wide centered column">
    <div hidden class="justified" id="imageGrid">
    </div>
  </div>
  <div class="one wide column"></div>
</div>



<div class="ui modal" id="annotatedStatisticsPopup">
  <i class="close icon"></i>
  <div class="center aligned header">
    Annotation Statistics
  </div>
  <div class="scrolling content">
    <p>This list contains all the annotatable labels and the percentage of completeness.<br>Click on a label to search for it.</p>
    <div id="annotatedStatisticsPopupContent">
    </div>
  </div>
  <div class="actions">
    <div class="ui right labeled cancel button">
      Close
    </div>
  </div>
</div>
