<div class="row" style="display: none;" id="annotationButtons">
  <div class="five wide column">
  </div>

  <div class="five wide center aligned column">
    <div class="ui buttons">
      <button hidden class="ui fluid positive button center aligned" id="doneButton">DONE</button>
      <div class="or"></div>
      <div class="ui negative buttons">
        <div class="ui button">Skip</div>
        <div class="ui floating dropdown icon button" id="skipAnnotationDropdown">
          <i class="dropdown icon"></i>
          <div class="menu">
            {{ if eq .showSkipAnnotationButtons true }}
            <div class="item" id="notAnnotableButton">
              UN-ANNOTABLE
            </div>
            {{ end }}

            {{ if eq .showSkipAnnotationButtons true }}
            {{ if (eq .sessionInformation.LoggedIn true) }}
            <div class="item" id="blacklistButton">
              BLACKLIST
            </div>
            {{ else }}
            <div class="item" id="blacklistButton" data-tooltip="You need to be logged in to blacklist annotations." data-position="bottom center">
              BLACKLIST
            </div>
            {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="six wide column">
  </div>          
</div>