<div class="ui modal" id="annotationSettingsPopup">
  <i class="close icon"></i>
  <div class="center aligned header">
    Annotation Settings
  </div>
  <div class="scrolling content">
    <div class="ui form">
      <div class="grouped fields" id="preferedAnnotationToolCheckboxes">
        <label>Choose your prefered annotation tool</label>
        <div class="field">
          <div class="ui radio checkbox" id="preferedRectangleAnnotationToolCheckbox">
            <input name="preferedAnnotationTool" id="preferedRectangleAnnotationToolCheckboxInput" checked="checked" type="radio">
            <label>Rectangle</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox" id="preferedCircleAnnotationToolCheckbox">
            <input name="preferedAnnotationTool" id="preferedCircleAnnotationToolCheckboxInput" type="radio">
            <label>Circle</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox" id="preferedPolygonAnnotationToolCheckbox">
            <input name="preferedAnnotationTool" id="preferedPolygonAnnotationToolCheckboxInput" type="radio">
            <label>Polygon</label>
          </div>
        </div>
      </div>
    </div>
    <br><br>
    <div class="ui form" id="annotationWorkspaceSizeForm">
      <div class="grouped fields" id="annotationWorkspaceSizeCheckboxes">
        <label>Workspace Size</label>
        <div class="field">
          <div class="ui radio checkbox" id="annotationWorkspaceSizeSmallCheckbox">
            <input name="workspaceSize" id="annotationWorkspaceSizeSmallCheckboxInput" checked="checked" type="radio">
            <label>small</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox" id="annotationWorkspaceSizeMediumCheckbox">
            <input name="workspaceSize" id="annotationWorkspaceSizeMediumCheckboxInput" type="radio">
            <label>medium</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox" id="annotationWorkspaceSizeBigCheckbox">
            <input name="workspaceSize" id="annotationWorkspaceSizeBigCheckboxInput" type="radio">
            <label>big</label>
          </div>
        </div>
      </div>
    </div>
    <br><br>
    <div class="ui form" id="annotationModeForm">
      <div class="grouped fields" id="annotationModeCheckboxes">
        <label>Annotation Mode</label>
        <div class="field">
          <div class="ui radio checkbox" id="annotationDefaultModeCheckbox">
            <input name="annotationMode" id="annotationDefaultModeCheckboxInput" checked="checked" type="radio">
            <label>default</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox" id="annotationBrowseModeCheckbox">
            <input name="annotationMode" id="annotationBrowseModeCheckboxInput" type="radio">
            <label>browse</label>
          </div>
        </div>
      </div>
    </div>
    <br><br>
    <div class="ui form" id="annotationPolygonVertexForm">
      <div class="grouped fields">
        <label>Polygon Vertex Size</label>
        <div class="field">
          Allows you to specify the polygon vertex size. You may want to change that setting on a smartphone/tablet.
          <br><br>
          <input type="text" placeholder="Polygon Vertex Size..." value="5" id="annotationPolygonVertexSizeInput" name="annotationPolygonVertexSizeInput">
          <br><br>
          <img class="ui medium image" src="img/vertex_size.png">
        </div>
      </div>
    </div>

    <div hidden class="ui warning message" hidden id="annotationSettingsPopupWarningMessageBox">
      <i class="close icon"></i>
      <div class="header" id="annotationSettingsPopupWarningMessageBoxContent">
        bla
      </div>
    </div>


  </div>
  <p><p>
    <div class="actions">
      <div class="ui positive right labeled icon button" id="saveAnnotationSettingsButton">
        Save
        <i class="checkmark icon"></i>
      </div>
    </div>
  </div>

<div class="ui modal" id="annotationSettingsRefreshBrowserPopup">
  <i class="close icon"></i>
  <div class="center aligned header">
    Info
  </div>
  <div class="content">
    Please refresh your browser window to apply the changes.  
  </div>
  <div class="actions">
    <div class="ui right labeled cancel icon button">
      Got it
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>


