<div class="ui longer modal" id="imageDescriptionInputDlg">
  <i class="close icon"></i>
  <div class="center aligned header">
    Add a new Image Description
  </div>
  <div class="scrolling content">
    <div class="ui fluid input">
      <input placeholder="What describes the image best?" type="text" id="addImageDescriptionInput">
    </div>
  </div>
  <p><p>
  <div class="actions">
    <div class="ui positive right labeled icon button" id="addImageDescriptionButton">
      Add
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>