<style>
  .justified {
    position: relative;
    width: 100%;
  }

  .justified-layout-item {
    position: absolute;
  }

  .grey-out {
    opacity: 0.4;
    filter: alpha(opacity=40);
  }

</style>

<script>
  var justifiedLayoutGeometry, imageGridData;
  var numOfLastFetchedImg = 0;
  var defaultBatchSize = 50;
  var currentLabeledImageGridElement = null;
  var infiniteScroll = new InfiniteScroll(loadNextImagesInImageGrid, false);

  var clearImageGrid = function() {
    justifiedLayoutGeometry = null;
    imageGridData = null;
    numOfLastFetchedImg = 0;
    infiniteScroll.deactivate();
    $('#imageGrid').children().each(function () {
      $(this).remove();
    })
  }

  function showBrowseLabelImageGrid() {
    //if the image grid gets shown again, the image in question was successfully labeled
    //We now grey the image out and change the mouse cursor to default again.

    $("#"+currentLabeledImageGridElement).addClass("grey-out");
    $("#"+currentLabeledImageGridElement).css('cursor', 'default');

    //show image grid and jump to scroll position that we were before
    $("#imageGrid").show();
    $("#labelQuerySearchContainer").show();
    infiniteScroll.resume();
    infiniteScroll.restoreScrollPosition();
  }

  function handleRes(d) {
    $("#imageGrid").show();

    if(d !== null) {
      imageGridData = d;
      sizes = [];

      for(var i = 0; i < imageGridData.length; i++){
        sizes.push({"width": imageGridData[i]["image"]["width"], "height": imageGridData[i]["image"]["height"]});
      }

      var justifiedLayout = require('justified-layout');
      justifiedLayoutGeometry = justifiedLayout(sizes, {
        "fullWidthBreakoutRowCadence": false,
        "containerWidth": document.getElementById("imageGrid").clientWidth
      });

      loadNextImagesInImageGrid();
      infiniteScroll.activate();
      $('#browseLabelsErrorMessage').hide();
    }
    else{
      $('#browseLabelsErrorMessage').text("No images found for this label expression - please try another expression!");
      $('#browseLabelsErrorMessage').show(200);
    }

    $('#browseLabelsLoadingSpinner').hide();
  }

  function populateImageGrid() {
    $('#browseLabelsLoadingSpinner').show();

    $("#imageGrid").hide();
    clearImageGrid();
    var query = $("#labelQuery").val();
    var url = '{{ .apiBaseUrl }}/v1/donations/labels';
    $.ajax({
          url: url,
          dataType: 'json',
          data: {query: encodeURIComponent(query), shuffle: true},
          beforeSend: function(xhr) {
            xhr.setRequestHeader("Authorization", "Bearer " + getCookie("imagemonkey"))
          },
          success: function(d) {
            handleRes(d);
          }, 
          error: function(xhr, status, error) {
            var err = JSON.parse(xhr.responseText)["error"];
            var obj = $('#browseAnnotationsErrorMessage').text(err);
            obj.html(obj.html().replace(/\n/g,'<br/>'));
            $('#browseAnnotationsErrorMessage').show(200);
            $('#browseAnnotationsLoadingSpinner').hide();
            clearImageGrid();
          }
    });
  }

  function onImageGridItemClicked(elem) {
    if($(elem).hasClass("grey-out"))
      return;

    var imageId = $(elem).attr("data-imageid");
    currentLabeledImageGridElement = $(elem).attr("id");
    $("#labelQuerySearchContainer").hide();
    infiniteScroll.pause();
    infiniteScroll.saveScrollPosition();
    $("#imageGrid").hide();
    getNextImage(imageId);
  }

  function newImageItem(id, url, imageId, top, left, width, height, tooltip){
    var d = ('<div class="justified-layout-item"' + ' id="' + (id + "container") 
            + '" data-balloon="' + tooltip + '" data-balloon-length="fit" data-balloon-pos="up"' + ' style="width: ' + width 
            +'px; height: ' + height + 'px; top: ' 
            + top  + 'px; left: ' +  left + 'px"><img id="' + id +'" src="' + url 
            + '" data-imageid="' + imageId + '" onclick="onImageGridItemClicked(this);" style="cursor: pointer;"></div>');
    return d;
  }

  function updateLabelsForImage(imageId, labels) {
    if(labels !== "") {
      var oldLabels = $("#galleryitem" + imageId + "container").attr("data-balloon");
      var newLabels = oldLabels + ((oldLabels === "") ? "" : ", ") + labels;
      $("#galleryitem" + imageId + "container").attr("data-balloon", newLabels);
    }
  }

  function getUrlFromImageUrl(imageUrl, imageUnlocked){
    var url = imageUrl;

    if(imageUrl !== ""){
      if(!imageUnlocked){
        url += "?token=" + getCookie("imagemonkey");
      }
    }

    return url;
  }

  function loadNextImagesInImageGrid() {
    var from = numOfLastFetchedImg;
    var n = defaultBatchSize;
    if((numOfLastFetchedImg + defaultBatchSize) > imageGridData.length){
      n = imageGridData.length - numOfLastFetchedImg;
    }

    if(n === 0)
      return;

    var imageUrl;
    var annotationsScaleFactor;
    var item;
    for(var i = from; i < (from + n); i++){
      var url = getUrlFromImageUrl(imageGridData[i]["image"]["url"], imageGridData[i]["image"]["unlocked"]) 
                + ((imageGridData[i]["image"]["unlocked"] === true) ? '?' : '&') + "width="
                +    Math.round(justifiedLayoutGeometry.boxes[i].width, 0)
                +    "&height=" + Math.round(justifiedLayoutGeometry.boxes[i].height, 0);

      var labels = imageGridData[i]["labels"];
      var tooltipText = "";
      for(var j = 0; j < labels.length; j++) {
        var labelName = escapeHtml(labels[j]["name"]);
        tooltipText += labelName + ", ";
        var sublabels = labels[j]["sublabels"];
        for(k = 0; k < sublabels.length; k++) {
          tooltipText += (escapeHtml(sublabels[k]["name"]) + "/" + escapeHtml(labelName));
          tooltipText += ", ";
        }
      }
      if(tooltipText.length > 2)
        tooltipText = tooltipText.substring(0, tooltipText.length - 2); //remove last comma + space

      var imageId = ("galleryitem" + imageGridData[i]["image"]["uuid"]);
      item = newImageItem(imageId, url, imageGridData[i]["image"]["uuid"], justifiedLayoutGeometry.boxes[i].top, justifiedLayoutGeometry.boxes[i].left, 
                              justifiedLayoutGeometry.boxes[i].width, justifiedLayoutGeometry.boxes[i].height, tooltipText);
      $("#imageGrid").append(item); 

      document.getElementById("imageGrid").style.height = (justifiedLayoutGeometry.boxes[(from + n - 1)].top 
                                                            + justifiedLayoutGeometry.boxes[(from + n - 1)].height)  + "px";
    }

    numOfLastFetchedImg += n;
  }

  function split(val) {
    return val.split( / \s*/ );
  }
  function extractLast(term) {
    return split(term).pop();
  }

  $(document).ready(function(){
    var availableLabels = [];
    var labelAccessors = {{ .labelAccessors }};
    for(var i = 0; i < labelAccessors.length; i++) {
      availableLabels.push(labelAccessors[i]);
    }

    labelSuggestions = {{ .labelSuggestions }};
    for(var i = 0; i < labelSuggestions.length; i++) {
      availableLabels.push(labelSuggestions[i]);
    }

    $("#labelQuery")
      // don't navigate away from the field on tab when selecting an item
      .on("keydown", function(event) {
        if (event.keyCode === $.ui.keyCode.TAB &&
          $(this).autocomplete("instance").menu.active) {
          event.preventDefault();
      }
    })
    .autocomplete({
      minLength: 0,
      source: function(request, response) {
        // delegate back to autocomplete, but extract the last term
        response($.ui.autocomplete.filter(
          availableLabels, extractLast(request.term)));
      },
      focus: function() {
        // prevent value inserted on focus
        return false;
      },
      select: function(event, ui) {
        var terms = split(this.value);
        // remove the current input
        terms.pop();
        // add the selected item
        terms.push(ui.item.value);
        // add placeholder to get the comma-and-space at the end
        terms.push("");
        this.value = terms.join(" ");
        return false;
      }
    });
  });
</script>



<div class="row"></div>
<div class="row" id="labelQuerySearchContainer">
  <div class="four wide column"></div>
  <div class="eight wide center aligned column">
    <form class="ui form segment">
      <div class="field">
       <p>Search for images you are interested in</p>
       <input placeholder="Query..." type="text" id="labelQuery">
     </div>

    <div class="ui primary submit button" onclick="populateImageGrid();">Go</div>
    </form>

    <div class="ui warning message" hidden id="browseLabelsErrorMessage">
      <i class="close icon"></i>
      <div class="header"></div>
    </div>
  </div>
  <div class="four wide column"></div>
</div>

<div class="row" id="browseLabelsLoadingSpinner" style="display: none;">
  <div class="sk-wave overlay">
    <div class="sk-rect sk-rect1"></div>
    <div class="sk-rect sk-rect2"></div>
    <div class="sk-rect sk-rect3"></div>
    <div class="sk-rect sk-rect4"></div>
    <div class="sk-rect sk-rect5"></div>
  </div>
</div>

<div class="row">
  <div class="one wide column"></div>
  <div class="fourteen wide centered column">
    <div hidden class="justified" id="imageGrid">
    </div>
  </div>
  <div class="one wide column"></div>
</div>