<div class="ui longer modal" id="smartAnnotationHelpDlg">
  <i class="close icon"></i>
  <div class="center aligned header">
    What's this?
  </div>
  <div class="scrolling content">
    Smart Annotation allows you to easily annotate complex objects with just a few mousestrokes. Start the annotation process by drawing a bounding box around the main object. Fine tune the annotation by marking incorrectly detect foreground and background areas.<br><br>

    <img class="ui huge bordered image" id="smartAnnotationHelpDlgGif">
  </div>
  <p><p>
    <div class="actions">
      <div class="ui right labeled cancel button">
        Close
      </div>
    </div>
  </div>