<div class="ui small modal" id="removeLabelFromUnifiedModeLstDlg" data-to-be-removed-uuid="">                                                                                     
  <div class="header">                                                                
    Remove Label                                                                 
  </div>
  <div class="content">
    <p>Do you really want to remove this label?                                  
  </div>    
  <div class="actions">
    <div class="ui negative button">                                                  
      Cancel
    </div>
    <div class="ui positive right labeled icon button" id="removeLabelFromUnifiedModeLstDlgYesButton">
      Yes
      <i class="checkmark icon"></i>                                                  
    </div>                                                                            
  </div>
</div>

