<script type="text/x-template" id="annotation-browse-form-template">

<div class="row" id="annotation-query-search-container">
  <div class="four wide column"></div>
  <div class="eight wide center aligned column">
    <form class="ui form segment">
      <div class="field">
       <p class="default-text">Search for annotation tasks you are interested in</p>
       <div class="ui action input">
         <input autocapitalize="none" placeholder="Query..." type="text" id="annotation-query">
         <div class="ui icon button" id="random-annotation-query-button">
           <i class="cube icon"></i>
         </div>
       </div>
      </div>

      <div class="inline fields">
        <label>Options</label>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="search-options" checked="checked">
            <label>No Options</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox" id="annotationsOnlyCheckbox" data-tooltip="Rework existing annotations">
            <input type="radio" name="search-options">
            <label>Rework</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox" id="highlight-parent-annotations-checkbox" data-tooltip="Highlight the annotation's parent">
            <input type="radio" name="search-options">
            <label>Highlight</label>
          </div>
        </div>
      </div>


      <div class="ui disabled primary submit button" id="browse-annotations-go-button">Go</div>
      <div class="ui right aligned disabled button" id="annotated-statistics-button">
        <i class="chart bar icon"></i>
        Statistics
      </div>
    </form>
    <p id="number-of-query-results"></p>

    <div class="ui warning message" hidden id="browse-annotations-error-message">
      <i class="close icon"></i>
      <div class="header"></div>
    </div>
  </div>
  <div class="four wide column"></div>
</div>

</script>
