<script type="text/x-template" id="unified-annotation-mode-template">

<div v-show="visible">
	<annotationnavbar id="annotation-navbar"></annotationnavbar>	
	<div class="grid grid-flow-col grid-cols-3 grid-rows-1 gap-2 items-center justify-center">
		<div id="annotation-toolbox-container">
			<annotationtoolbox ref="annotationToolBox" id="annotation-toolbox"></annotationtoolbox>
		</div>
		<div class="absolute top-20 left-20" id="annotation-area-container">
		    <imagecanvas id="annotation-area" ref="annotationArea"></imagecanvas>	
		</div>	

		<div class="absolute right-2" id="annotation-label-list-container">
			<div class="grid grid-cols-1">
				<div :class="labelListMarginTop">
					<inlineinfomessage ref="inlineInfoMessage"></inlineinfomessage>
					<annotationlabellist ref="annotationLabelList" id="annotation-label-list"></annotationlabellist>
				</div>
			</div>
		</div>
		<removelabelconfirmationdialog id="remove-label-confirmation-dialog" ref="removeLabelConfirmationDialog"></removelabelconfirmationdialog>
		<removeannotationconfirmationdialog id="remove-annotation-confirmation-dialog" ref="removeAnnotationConfirmationDialog"></removeannotationconfirmationdialog>
		<simpleerrorpopup id="simple-error-popup" ref="simpleErrorPopup"></simpleerrorpopup>
		<loadingspinner id="loading-spinner" ref="loadingSpinner"></loadingspinner>
	</div>
</div>

</script>
