package tests

const DB_CONNECTION_STRING string = "host=127.0.0.1 user=monkey dbname=imagemonkey password=dbRuwMUo4Nfhs5hmMxhk sslmode=disable"
const DB_USERNAME = "monkey"
const DB_PASSWORD = "dbRuwMUo4Nfhs5hmMxhk"