<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <title>{{ .title }}</title>
  
  <link rel="stylesheet" href="css/semantic.min.css"/>
  <script src="js/jquery.min.js"></script>
  <script src="js/semantic.min.js"></script> 
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="css/common.css"/>
  <link rel="stylesheet" href="css/common_sub.css"/>
  <script src="js/common.js"></script> 
  <script src="js/fabric.min.js"></script>
  <script src="js/fabric_helper.js"></script>
  <script src="js/fingerprint2.min.js"></script>

  <style>
  .canvas-container{margin: 0 auto;}
  </style>

  <script>
  var Rectangle = (function () {
    function Rectangle(canvas) {
      var inst=this;
      this.canvas = canvas;
      this.className= 'Rectangle';
      this.isDrawing = false;
      this.overObject = false;
      this.blocked = false; 
      this.bindEvents();
    }

    Rectangle.prototype.bindEvents = function() {
      var inst = this;
      inst.canvas.on('mouse:down', function(o) {
        inst.onMouseDown(o);
      });
      inst.canvas.on('mouse:move', function(o) {
        inst.onMouseMove(o);
      });
      inst.canvas.on('mouse:up', function(o) {
        inst.onMouseUp(o);
      });
      inst.canvas.on('object:moving', function(o) {
        inst.disable();
      })
      inst.canvas.on('mouse:over', function(o) {
        if(o.target)
          inst.over();
      })
      inst.canvas.on('mouse:out', function(o) {
        if(o.target)
          inst.out();
      })
    }
    Rectangle.prototype.onMouseUp = function (o) {
      var inst = this;
      inst.disable();
    };

    Rectangle.prototype.onMouseMove = function (o) {
      var inst = this;
      

      if(!inst.isEnable()){ return; }
      var pointer = inst.canvas.getPointer(o.e);
      var activeObj = inst.canvas.getActiveObject();

      activeObj.stroke= 'red',
      activeObj.strokeWidth= 5;
      activeObj.fill = 'transparent';

      if(origX > pointer.x){
        activeObj.set({ left: Math.abs(pointer.x) }); 
      }
      if(origY > pointer.y){
        activeObj.set({ top: Math.abs(pointer.y) });
      }

      activeObj.set({ width: Math.abs(origX - pointer.x) });
      activeObj.set({ height: Math.abs(origY - pointer.y) });

      activeObj.setCoords();
      inst.canvas.renderAll();

    };

    Rectangle.prototype.onMouseDown = function (o) {
      var inst = this;
      if(!inst.isOver() && !inst.isBlocked()){
        inst.enable();

        var pointer = inst.canvas.getPointer(o.e);
        origX = pointer.x;
        origY = pointer.y;

        var rect = new fabric.Rect({
          left: origX,
          top: origY,
          originX: 'left',
          originY: 'top',
          width: pointer.x-origX,
          height: pointer.y-origY,
          angle: 0,
          transparentCorners: false,
          hasBorders: true,
          hasControls: true
        });

        inst.canvas.add(rect).setActiveObject(rect);
      }
    };

    Rectangle.prototype.isEnable = function(){
      return this.isDrawing;
    }

    Rectangle.prototype.isBlocked = function(){
      return this.blocked;
    }

    Rectangle.prototype.enable = function(){
      this.isDrawing = true;
    }

    Rectangle.prototype.disable = function(){
      this.isDrawing = false;
    }

    Rectangle.prototype.isOver = function(){
      return this.overObject;
    }

    Rectangle.prototype.over = function(){
      this.overObject = true;
    }

    Rectangle.prototype.out = function(){
      this.overObject = false;
    }

    Rectangle.prototype.block = function(){
      this.blocked = true;
    }

    Rectangle.prototype.unblock = function(){
      this.blocked = false;
    }


    return Rectangle;
  }());

function getUrlFromImageId(imageId){
  return (imageId === "" ? "img/oops-no-annotation-left.png" : ("donations/" + imageId))
}

function changeControl(rect){
  if($("#annotationArea").attr("imageId") === ""){
    $("#labelContainer").hide();
    $("#doneButton").hide();
    rect.block();
  }
  else{
    $("#labelContainer").show();
    $("#doneButton").show();
    rect.unblock();
  }
}

function setLabel(label, sublabel){
  $("#label").attr("label", label)
  $("#label").attr("sublabel", sublabel)
  if(sublabel === ""){
    $("#label").text(label)
  } 
  else {
    $("#label").text((sublabel + "/" + label))
  }
}

$(document).ready(function(){
  setLabel({{ .randomImage.Label }}, {{ .randomImage.Sublabel }});
  $('#warningMsg').hide();
  var browserFingerprint = null;

  $('#doneButton').click(function(e) {
    var data = canvas.toJSON();
    var imgScaleX = data["backgroundImage"]["scaleX"];
    var imgScaleY = data["backgroundImage"]["scaleY"];
    var objs = data["objects"];
    var res = [];
    for(var i = 0; i < objs.length; i++){
      var left = Math.round(((objs[i]["left"] / imgScaleX)), 0);
      var top = Math.round(((objs[i]["top"] / imgScaleY)), 0);
      var width = Math.round(((objs[i]["width"] / imgScaleX) * objs[i]["scaleX"]), 0);
      var height = Math.round(((objs[i]["height"] / imgScaleY) * objs[i]["scaleY"]), 0);
      
      if((width != 0) && (height != 0))
        res.push({"left" : left, "top": top, "width": width, "height": height});
    }

    if(res.length === 0){ //at least one annotation needs to be there
      $('#warningMsg').show(200).delay(1500).hide(200);
      return;
    }

    var postData = {}
    postData["annotations"] = res;
    postData["label"] = $('#label').attr('label');
    postData["sublabel"] = $('#label').attr('sublabel');

    var headers = {}
    if(browserFingerprint !== null)
      headers["X-Browser-Fingerprint"] = browserFingerprint;

    e.preventDefault();
    var url = '{{ .apiBaseUrl }}/v1/annotate/' + $("#annotationArea").attr("imageId");
    $.ajax({
      url: url,
      type: 'POST',
      data: JSON.stringify(postData),
      headers: headers,
      success: function(data){
        $.ajax({
          url: '{{ .apiBaseUrl }}/v1/annotate',
          dataType: 'json',
          type: 'GET',
          success: function(data){
            $("#annotationArea").attr("imageId", data.uuid);
            setLabel(data.label, data.sublabel);
            canvas.clear();
            setCanvasBackgroundImageUrl(canvas, getUrlFromImageId(data.uuid));
            changeControl(rect);
          }
        });
      }
    });


    new Fingerprint2().get(function(result, components){
      browserFingerprint = result;
    });

  });


var canvas = new fabric.Canvas('annotationArea');
var rect = new Rectangle(canvas);
var randomImgId = {{ .randomImage.Id }};
setCanvasBackgroundImageUrl(canvas, getUrlFromImageId(randomImgId));
changeControl(rect);
});
</script>
</head>
<body>

  {{ template "menu.html" .}}

  <!-- Page Contents -->
  <div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">
     {{ template "pointing_menu.html" .}}  
     <div class="ui text container" id="labelContainer">
      <h2 class="ui inverted header" id="label" label="" sublabel=""></h2>
      <h2>Annotate all occurences of the above.</h2>
    </div>
  </div>
  <div class="ui vertical stripe segment">
    <div class="ui text container">
      <div class="row">
        <div class="ui center aligned basic segment">
          <canvas id="annotationArea" imageId="{{ .randomImage.Id }}"></canvas> 
          <p></p>
          <button class="positive ui button center aligned" id="doneButton">DONE</button>
        </div>

        <div class="ui warning message" id="warningMsg">
          <i class="close icon"></i>
          <div class="header">
            Please annotate the image first.
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{{ template "footer.html" .}}
</div>

</body>

</html>