<!doctype html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/tailwindcss-compiled.css?v={{ .assetVersion }}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>	
    <!--<script src="https://unpkg.com/vue@3.0.1/dist/vue.global.prod.js"></script>-->
    <script src="https://unpkg.com/vuex"></script>
	<!--<script src="https://requirejs.org/docs/release/2.3.6/minified/require.js"></script>-->	
   	<link rel="stylesheet" href="css/spinner/spinners/3-wave.css?v={{ .assetVersion }}"/> 
	<link rel="stylesheet" href="css/balloon/balloon.min.css?v={{ .assetVersion }}">
	<script src="js/justified-layout.min.js?v={{ .assetVersion }}"></script>
	<script src="js/imagemonkey/api.js?v={{ .assetVersion }}"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <script src="js/jquery.min.js?v={{ .assetVersion }}"></script>
    <script src="js/jquery-ui.min.js?v={{ .assetVersion }}"></script>
    <link rel="stylesheet" href="css/jquery-ui.css?v={{ .assetVersion }}" />
	<script src="js/common.js?v={{ .assetVersion }}"></script> 
	<script src="/js/cookies.min.js?v={{ .assetVersion }}"></script>
	<script src="/js/settings.js?v={{ .assetVersion }}"></script>

    <script src="js/fabric.min.js?v={{ .assetVersion }}"></script>
    <script src="js/fabric_helper.js?v={{ .assetVersion }}"></script>
    <script src="js/imagemonkey/misc/autocompletion.js?v={{ .assetVersion }}"></script>
    
	<!-- components-->
	<script src="js/components/loadingspinner.js?v={{ .assetVersion }}"></script>
    <script src="js/components/imagecanvas.js?v={{ .assetVersion }}"></script>
    <script src="js/components/annotationtoolbox.js?v={{ .assetVersion }}"></script>
    <script src="js/components/annotationnavbar.js?v={{ .assetVersion }}"></script>
    <script src="js/components/annotationlabellist.js?v={{ .assetVersion }}"></script>
    <script src="js/components/annotationbrowseform.js?v={{ .assetVersion }}"></script>
    <script src="js/components/annotationstatisticspopup.js?v={{ .assetVersion }}"></script>
    <script src="js/components/imagegrid.js?v={{ .assetVersion }}"></script>
    <script src="js/components/waveloadingbar.js?v={{ .assetVersion }}"></script>
	<script src="js/components/globalnavbar.js?v={{ .assetVersion }}"></script>
	<script src="js/components/annotationbrowseformcontainer.js?v={{ .assetVersion }}"></script>
	<script src="js/components/unifiedannotationmode.js?v={{ .assetVersion }}"></script>

	<script src="js/infinitescroll.js?v={{ .assetVersion }}"></script>


    <link rel="stylesheet" href="css/semantic.min.css?v={{ .assetVersion }}" />
    <script src="js/semantic.min.js?v={{ .assetVersion }}"></script>
    <link rel="stylesheet" href="css/common.css?v={{ .assetVersion }}" />
    <link rel="stylesheet" href="css/common_sub.css?v={{ .assetVersion }}" /> 


    <script src="js/annotate.min.js?v={{ .assetVersion }}"></script>
    <script src="js/utils/utils.js?v={{ .assetVersion }}"></script>
</head>

<script>
    var imageMonkeyApi = new ImageMonkeyApi("{{ .apiBaseUrl }}");
	imageMonkeyApi.setToken(getCookie("imagemonkey"));
    var canvas = null;
    window.onload = (event) => {
        window.EventBus = new Vue();


        const store = new Vuex.Store({
            state: {
                username: {{ .sessionInformation.Username }},
                loggedIn: {{ if ne .sessionInformation.Username "" }} true {{ else }} false {{ end }},
				isModerator: {{ if eq .sessionInformation.IsModerator true }} true {{ else }} false {{ end}}
            },
            mutations: {},
            getters: {
                loggedIn: function(state) {
                    return state.loggedIn;
                },
				username: function(state) {
					return state.username;
				},
				isModerator: function(state) {
					return state.isModerator;
				}
            }
        });


        /*const loadingSpinnerComponent = LoadingSpinnerComponent;
        const annotationToolboxComponent = AnnotationToolboxComponent;
        const annotationNavbarComponent = AnnotationNavbarComponent;
        const annotationLabelListComponent = AnnotationLabelListComponent;
        const imageCanvasComponent = ImageCanvasComponent;
		const annotationBrowseFormContainerComponent = AnnotationBrowseFormContainerComponent;

        const loadingSpinner = new Vue({
            delimiters: ['${', '}$'],
            el: "#global-loadingspinner",
            components: {
                "loadingspinner": loadingSpinnerComponent
            }
        });

        const annotationToolbox = new Vue({
            delimiters: ['${', '}$'],
            el: "#annotation-toolbox",
            components: {
                "annotationtoolbox": annotationToolboxComponent
            }
        });

        const annotationNavbar = new Vue({
            delimiters: ['${', '}$'],
            el: "#annotation-navbar",
            components: {
                "annotationnavbar": annotationNavbarComponent
            }
        });

        const annotationLabelList = new Vue({
            delimiters: ['${', '}$'],
            el: "#annotation-label-list",
            components: {
                "annotationlabellist": annotationLabelListComponent
            }
        });

        const imageCanvas = new Vue({
            delimiters: ['${', '}$'],
            el: "#annotation-area",
            components: {
                "imagecanvas": imageCanvasComponent
            },
            mounted: function() {
                //this.loadUnannotatedImage();
                //EventBus.$emit('loadUnannotatedImage', imageMonkeyApi, null);
            }
        });*/

		Vue.component("globalnavbar", GlobalNavbarComponent);
		Vue.component("annotationbrowseform", AnnotationBrowseFormComponent);
		Vue.component("annotationstatisticspopup", AnnotationStatisticsPopupComponent);
		Vue.component("imagegrid", ImageGridComponent);
		Vue.component("waveloadingbar", WaveLoadingBarComponent);
		Vue.component("annotationbrowseformcontainer", AnnotationBrowseFormContainerComponent);
		Vue.component("unifiedannotationmode", UnifiedAnnotationModeComponent);
		Vue.component("annotationtoolbox", AnnotationToolboxComponent);
		Vue.component("annotationnavbar", AnnotationNavbarComponent);
		Vue.component("annotationlabellist", AnnotationLabelListComponent);
		Vue.component("imagecanvas", ImageCanvasComponent);

		const annotationBrowseFormContainer = new Vue({
			delimiters: ['${', '}$'],
			el: "#annotation-browse-form-container",
			store: store,
			mounted: function() {
				EventBus.$on("imageInImageGridClicked", (imageId) => {
					this.$refs.annotationBrowseFormContainer.hide();	
				});
			}
		});

		const unifiedAnnotationMode = new Vue({
			delimiters: ['${', '}$'],
			el: "#unified-annotation-mode",
			store: store,
			mounted: function() {
				EventBus.$on("imageInImageGridClicked", (imageId) => {
					this.$refs.unifiedAnnotationMode.show();
				});
			}
		});
        
		//let validationId = new URL(window.location.href).searchParams.get("validation_id");
        //imageCanvas.$refs.annotationArea.loadUnannotatedImage(validationId);

    };
</script>

<body>
	<!--TODO mobile menu-->

   	<annotationbrowseformcontainer id="annotation-browse-form-container" ref="annotationBrowseFormContainer"></annotationbrowseformcontainer>

	<unifiedannotationmode id="unified-annotation-mode" ref="unifiedAnnotationMode"></unifiedannotationmode>

    
	<loadingspinner id="global-loadingspinner"></loadingspinner>
</body>

</html>


<!-- Components -->
{{ template "loading_spinner.html" .}}
{{ template "imagecanvas.html" .}}
{{ template "annotationtoolbox.html" .}}
{{ template "annotationnavbar.html" .}}
{{ template "annotationlabellist.html" .}}
{{ template "annotationbrowseform.html" .}}
{{ template "annotationstatisticspopup.html" .}}
{{ template "imagegrid.html" .}}
{{ template "waveloadingbar.html" .}}
{{ template "inlineerrormessage.html" .}}
{{ template "globalnavbar.html" .}}
{{ template "annotationbrowseformcontainer.html" .}}
{{ template "unifiedannotationmode.html" .}}
