<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <title>{{ .title }}</title>
  
  <link rel="stylesheet" href="css/semantic.min.css"/>
  <script src="js/jquery.min.js"></script>
  <script src="js/semantic.min.js"></script> 
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="css/common.css"/>
  <link rel="stylesheet" href="css/common_sub.css"/>
  <script src="js/common.js"></script> 
  <script src="js/fabric.min.js"></script>
  <script src="js/fabric_helper.js?v=2"></script>
  <script src="js/fingerprint2.min.js"></script>
  <script src="js/annotate.js"></script>

  <style>
  .canvas-container{margin: 0 auto;}
  </style>

  <script>
    function getUrlFromImageId(imageId){
      return (imageId === "" ? "img/oops-no-annotation-left.png" : ("donations/" + imageId))
    }

    function changeMenuItem(type){
      if(type === 'Rectangle'){
        $("#rectMenuItem").addClass("active");
        $("#circleMenuItem").removeClass("active");
        $("#polygonMenuItem").removeClass("active");
      }
      else if(type === "Circle"){
        $("#circleMenuItem").addClass("active");
        $("#rectMenuItem").removeClass("active");
        $("#polygonMenuItem").removeClass("active");
      }
      else if(type === "Polygon"){
        $("#polygonMenuItem").addClass("active");
        $("#rectMenuItem").removeClass("active");
        $("#circleMenuItem").removeClass("active");
      }
    }

    function changeControl(shape){
      if($("#annotationArea").attr("imageId") === ""){
        $("#labelContainer").hide();
        $("#doneButton").hide();
        shape.block();
      }
      else{
        $("#labelContainer").show();
        $("#doneButton").show();
        shape.unblock();
      }
    }

    function setLabel(label, sublabel){
      $("#label").attr("label", label)
      $("#label").attr("sublabel", sublabel)
      if(sublabel === ""){
        $("#label").text(label)
      } 
      else {
        $("#label").text((sublabel + "/" + label))
      }
    }

    function onObjectSelected(){
      $("#trashMenuItem").show();
    }

    function prepareData(data){
      var imgScaleX = data["backgroundImage"]["scaleX"];
      var imgScaleY = data["backgroundImage"]["scaleY"];
      var objs = data["objects"];
      var res = [];
      var left, top, width, height, rx, ry, type, points, pointX, pointY, angle;

      for(var i = 0; i < objs.length; i++){
        angle = objs[i]["angle"];
        type = objs[i]["type"];
        if(type === "rect"){
          left = Math.round(((objs[i]["left"] / imgScaleX)), 0);
          top = Math.round(((objs[i]["top"] / imgScaleY)), 0);
          width = Math.round(((objs[i]["width"] / imgScaleX) * objs[i]["scaleX"]), 0);
          height = Math.round(((objs[i]["height"] / imgScaleY) * objs[i]["scaleY"]), 0);
            
          if((width != 0) && (height != 0))
            res.push({"left" : left, "top": top, "width": width, "height": height, "angle": angle, "type": "rect"});
        }
        else if(type === "ellipse"){
          left = Math.round(((objs[i]["left"] / imgScaleX)), 0);
          top = Math.round(((objs[i]["top"] / imgScaleY)), 0);
          rx = Math.round(((objs[i]["rx"] / imgScaleX)), 0);
          ry = Math.round(((objs[i]["ry"] / imgScaleY)), 0);

          if((rx != 0) && (ry != 0))
            res.push({"left" : left, "top": top, "rx": rx, "ry": ry, "angle": angle, "type": "ellipse"});
        }
        else if(type === "polygon"){
          left = Math.round(((objs[i]["left"] / imgScaleX)), 0);
          top = Math.round(((objs[i]["top"] / imgScaleY)), 0);
          
          points = objs[i]["points"];
          var scaledPoints = [];
          for(var j = 0; j < points.length; j++){
            scaledPoints.push({"x" : Math.round(((points[j]["x"] / imgScaleX)), 0), "y": Math.round(((points[j]["y"] / imgScaleY)), 0)});
          }

          res.push({"left" : left, "top": top, "points": scaledPoints, "angle": angle, "type": "polygon"});
        }
      }

      return res;
    }

    $(document).ready(function(){
      //$("#trashMenuItem").hide();

      setLabel({{ .randomImage.Label }}, {{ .randomImage.Sublabel }});
      $('#warningMsg').hide();
      var browserFingerprint = null;

      $("#rectMenuItem").click(function(e) {
        shape.setShape("Rectangle");
        changeMenuItem("Rectangle");
      });

      $("#circleMenuItem").click(function(e) {
        shape.setShape("Circle");
        changeMenuItem("Circle");
      });

      $("#polygonMenuItem").click(function(e) {
        shape.setShape("Polygon");
        changeMenuItem("Polygon");
      });

      $("#trashMenuItem").click(function(e) {
        $('#deleteObjectsPopup').modal('show');
      });

      $("#redoMenuItem").click(function(e) {
        shape.redo();
      });

      $("#undoMenuItem").click(function(e) {
        shape.undo();
      });

      $("#deletedObjectsYesButton").click(function(e) {
        shape.deleteSelected();
        if(shape.objectsSelected())
          $("#trashMenuItem").show();
        else
          $("#trashMenuItem").hide();
      });



      $('#doneButton').click(function(e) {
        var res = prepareData(canvas.toJSON());

        if(res.length === 0){ //at least one annotation needs to be there
          $('#warningMsg').show(200).delay(1500).hide(200);
          return;
        }

        var postData = {}
        postData["annotations"] = res;
        postData["label"] = $('#label').attr('label');
        postData["sublabel"] = $('#label').attr('sublabel');

        var headers = {}
        if(browserFingerprint !== null)
          headers["X-Browser-Fingerprint"] = browserFingerprint;

        e.preventDefault();
        var url = '{{ .apiBaseUrl }}/v1/annotate/' + $("#annotationArea").attr("imageId");
        $.ajax({
          url: url,
          type: 'POST',
          data: JSON.stringify(postData),
          headers: headers,
          success: function(data){
            $.ajax({
              url: '{{ .apiBaseUrl }}/v1/annotate',
              dataType: 'json',
              type: 'GET',
              success: function(data){
                $("#annotationArea").attr("imageId", data.uuid);
                setLabel(data.label, data.sublabel);
                canvas.clear();
                setCanvasBackgroundImageUrl(canvas, getUrlFromImageId(data.uuid));
                changeControl(shape);
              }
            });
          }
        });


        new Fingerprint2().get(function(result, components){
          browserFingerprint = result;
        });

      });


    var canvas = new fabric.Canvas('annotationArea');
    //var rect = new Shape(canvas, 'Rectangle');
    var shape = new Shape(canvas, onObjectSelected);
    var randomImgId = {{ .randomImage.Id }};
    setCanvasBackgroundImageUrl(canvas, getUrlFromImageId(randomImgId), function() {
      shape.initHistory();
    });
    changeControl(shape);
    });
</script>
</head>
<body>

  {{ template "menu.html" .}}

  <!-- Page Contents -->
  <div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">
     {{ template "pointing_menu.html" .}}  
     <div class="ui text container" id="labelContainer">
      <h2 class="ui inverted header" id="label" label="" sublabel=""></h2>
      <h2>Annotate all occurences of the above.</h2>
    </div>
  </div>
  <div class="ui vertical stripe segment">
    <div class="ui text container">
      <div class="row">
        <div class="ui center aligned basic segment">


          <div class="ui labeled icon menu">
            <a class="active item" id="rectMenuItem">
              <i class="square outline icon"></i>
              Rectangle
            </a>
            <a class="item" id="circleMenuItem">
              <i class="circle thin icon"></i>
              Circle
            </a>
            <a class="item" id="polygonMenuItem">
              <i class="circle thin icon"></i>
              Polygon
            </a>
            <a class="right aligned item" id="redoMenuItem">
              <i class="undo icon"></i>
              Redo
            </a>
            <a class="item" id="undoMenuItem">
              <i class="undo icon"></i>
              Undo
            </a>
            <a class="item" id="trashMenuItem">
              <i class="trash icon"></i>
              Delete
            </a>
          </div>

          <canvas id="annotationArea" imageId="{{ .randomImage.Id }}"></canvas> 
          <p></p>
          <button class="positive ui button center aligned" id="doneButton">DONE</button>
        </div>

        <div class="ui warning message" id="warningMsg">
          <i class="close icon"></i>
          <div class="header">
            Please annotate the image first.
          </div>
        </div>

        <div class="ui small modal" id="deleteObjectsPopup">
          <div class="header">
            Delete Object
          </div>
          <div class="content">
            <p>Are you sure you want to delete the selected objects?</p>
          </div>
          <div class="actions">
            <div class="ui negative button">
              No
            </div>
            <div class="ui positive right labeled icon button" id="deletedObjectsYesButton">
              Yes
              <i class="checkmark icon"></i>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
{{ template "footer.html" .}}
</div>

</body>

</html>