<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <title>{{ .title }}</title>
  
  <link rel="stylesheet" href="css/semantic.min.css"/>
  <script src="js/jquery.min.js"></script>
  <script src="js/semantic.min.js"></script> 
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="css/common.css"/>
  <link rel="stylesheet" href="css/common_sub.css"/>
  <script src="js/common.js"></script> 
  <script src="js/fabric.min.js"></script>
  <script src="js/fabric_helper.js?v=3"></script>
  <script src="js/jquery.row-grid.min.js"></script>
  <link rel="stylesheet" href="css/justifiedGallery.css">
  <!--<script src="js/justifiedGallery.min.js"></script>-->
    <script src="js/justifiedCanvas.js"></script>
  <script src="https://www.cssscript.com/demo/creating-flickr-style-justified-layout-javascript/dist/justified-layout.js"></script>

  <style>
  .justified {
      position: relative;
      background: seagreen;
      width: 1060px;
    }
    /*.box {
      position: absolute;
      background: yellowgreen;
    }*/
    .canvas-wrapper {
      position: absolute;
      background: yellowgreen;
    }
  </style>

  <script>
  $(document).ready(function(){
    var canvas = [];

    function getUrlFromImageId(imageId){
      return "https://api.imagemonkey.io/v1/donation/" + imageId;
      //return "donations/" + imageId;
    }

    function drawAnnotationsCallback(canvas, annotations){
      console.log("call")
      if(annotations !== undefined)
        canvas.drawAnnotations(annotations);
    }


    function loadData(query){
      $.ajax({
        //url: '{{ .apiBaseUrl }}/v1/export',
        url: 'https://api.imagemonkey.io/v1/export',
        dataType: 'json',
        data: {query: encodeURIComponent(query)},
        success: function(data){
          var justifiedLayout = require('justified-layout');
          //var sizes = [1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1.5, 1.73, 1.1, 0.5, 1];
          var sizes = [];

          for(var i = 0; i < data.length; i++){
            sizes.push({"width": data[i]["width"], "height": data[i]["height"]});
          }

          var geometry = justifiedLayout(sizes, {
              "fullWidthBreakoutRowCadence": 3,
              "containerWidth": document.getElementById("canvasContainer").clientWidth
            }
          );

          console.log("container width =" +document.getElementById("canvasContainer").clientWidth)

          for(var i = 0; i < geometry.boxes.length; i++){


            console.log(geometry.boxes[i].height)
            //console.log(geometry.boxes[i].top)
            console.log(geometry.boxes[i].width)
            //console.log(geometry.boxes[i].left)
            console.log("")
            var canvasId = ("canvas" + i.toString());
            var d = ('<div class="canvas-wrapper" style="width: ' + geometry.boxes[i].width 
                    +'px; height: ' + geometry.boxes[i].height + 'px; top: ' 
                    + geometry.boxes[i].top  + 'px; left: ' +  geometry.boxes[i].left + 'px"><canvas id="' + canvasId +'"></canvas></div>');
            $("#canvasContainer").append(d);
            canvas[i] = new CanvasDrawer(canvasId, geometry.boxes[i].width, geometry.boxes[i].height);
            canvas[i].setCanvasBackgroundImageUrl(getUrlFromImageId(data[i]["uuid"]), drawAnnotationsCallback.bind(null, canvas[i], data[i]["annotations"]));

            if(i === 10)
              break;
          }
          document.getElementById("canvasContainer").style.height = geometry.containerHeight + "px";



          //$(".container").append('<div class="item"><canvas id="' + 'bla' + '"></canvas>');
           //for(var i = 0; i < data.length; i++){
           //   var url = 'https://api.imagemonkey.io/v1/donation/' + data[i]["uuid"];


              /*var url = 'https://api.imagemonkey.io/v1/donation/' + data[i]["uuid"];
              var canvasId = ("canvas" + i.toString());
              var canvasDivId = ("item" + i.toString()); 
              

              $("#canvasContainer").append('<div class="column" id="' + canvasDivId + '""><canvas id="' + canvasId + '"></canvas></div>')
              canvas[i] = new CanvasDrawer(canvasId);
              canvas[i].maxImageWidth = document.getElementById(canvasDivId).clientWidth;
              canvas[i].setCanvasBackgroundImageUrl(getUrlFromImageId(data[i]["uuid"]), drawAnnotationsCallback.bind(null, canvas[i], data[i]["annotations"]));
              //if(i === 2)
              //  break;







              /*var id = ("item" + i.toString());
              //$("#canvasContainer").append('<div class="item"><canvas id="' + id + '"></canvas></div>');
              $("#canvasContainer").append('<canvas id="' + id + '"></canvas>');

              canvas[i] = new CanvasDrawer(id);
              canvas[i].maxImageWidth = 200;

              var elem = document.getElementById(id);
              if(i == 0){
                elem.style.position = "absolute";
                elem.style.left = '10px';
                elem.style.top = '10px';
              }
              if(i == 1){
                elem.style.position = "absolute";
                elem.style.left = '220px';
                elem.style.top = '10';
              }

              canvas[i].setCanvasBackgroundImageUrl(getUrlFromImageId(data[i]["uuid"]), drawAnnotationsCallback.bind(null, canvas[i], data[i]["annotations"]));
              if(i === 2)
                break;*/








              

              /*canvas[i] = new fabric.Canvas(id);

              setCanvasBackgroundImageUrl(canvas[i], getUrlFromImageId(data[i]["uuid"]), drawAnnotationsCallback.bind(null, canvas[i], data[i]["annotations"]));
              if(i === 2)
                break;*/




              /*setCanvasBackgroundImageUrl(canvas[i], getUrlFromImageId(data[i]["uuid"]), function() {
                if("annotations" in data[i])
                  drawAnnotations(canvas[i], data[i]["annotations"], canvas[i].backgroundImage.scaleX);
              });*/
              //setCanvasBackgroundImageUrl(canvas[i], getUrlFromImageId(data[i]["uuid"]));
              
            //}

            //$('#canvasContainer').justifiedGallery({
              //selector: "a, div:not(.spinner)"
            //});

            //$("#canvasContainer").rowGrid();
            //$("#canvasContainer").justifiedGallery({selector: 'canvas, div:not(.spinner)'});

            //setTimeout(function(data){ alert("Hello"); }, 3000);
            //setTimeout(bla, 10000, data);
        },
        error: function(xhr, status, error) {
          var err = JSON.parse(xhr.responseText)["error"];
          var obj = $('#exportSyntaxErrorMessage').text(err);
          /*obj.html(obj.html().replace(/\n/g,'<br/>'));
          $('#exportSyntaxErrorMessage').show(200);
          $('#dataStructureContainer').hide();*/
        }
      });
    }

    function testJustified(){
      var justifiedLayout = require('justified-layout');

      var demos = [
        /*{
          sizes: [0.5, 1.5, 1, 1.8, 0.4, 0.7, 0.9, 1.1, 1.7, 2, 2.1],
          className: "various",
          config: {}
        },
        {
          sizes: [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
          className: "squares",
          config: {}
        },*/
        {
          sizes: [1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1.5, 1.73, 1.1, 0.5, 1],
          className: "breakout",
          config: {
            "fullWidthBreakoutRowCadence": 3,
            "containerWidth": document.getElementById("canvasContainer").clientWidth
          }
        }
      ];

      // Loop through the demos and put them in the page
      demos.forEach(function (demo) {
        var geometry = justifiedLayout(demo.sizes, demo.config);

        console.log("geometry", geometry);
        var boxes = geometry.boxes.map(function (box) {
          return  `<canvas class="box" style="width: ${box.width}px; height: ${box.height}px; top: ${box.top}px; left: ${box.left}px"></canvas>`;
        }).join('\n')

        //section.querySelector('.justified').innerHTML = boxes;
        //section.querySelector('.justified').style.height = geometry.containerHeight + "px";
        $("#canvasContainer").append(boxes);
        document.getElementById("canvasContainer").style.height = geometry.containerHeight + "px";

      });

    }

    function testJustified2(){
      var justifiedLayout = require('justified-layout');

      var demos = [
        /*{
          sizes: [0.5, 1.5, 1, 1.8, 0.4, 0.7, 0.9, 1.1, 1.7, 2, 2.1],
          className: "various",
          config: {}
        },
        {
          sizes: [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
          className: "squares",
          config: {}
        },*/
        {
          sizes: [1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1.5, 1.73, 1.1, 0.5, 1],
          className: "breakout",
          config: {
            "fullWidthBreakoutRowCadence": 3,
            "containerWidth": document.getElementById("canvasContainer").clientWidth
          }
        }
      ];

      // Loop through the demos and put them in the page
      demos.forEach(function (demo) {
        var geometry = justifiedLayout(demo.sizes, demo.config);

        console.log("geometry", geometry);
        var boxes = geometry.boxes.map(function (box) {
          return '<div class="column box"></div>';
          //return  `<canvas class="box" style="width: ${box.width}px; height: ${box.height}px; top: ${box.top}px; left: ${box.left}px"></canvas>`;
        }).join('\n')

        $("#canvasContainer").append(boxes);
        //section.querySelector('.justified').style.height = geometry.containerHeight + "px";

      });

    }

    //testJustified();


    loadData("dog");


  });
  </script>


  <script type="text/javascript">
  </script>
</head>
<body>

  {{ template "menu.html" .}}

  <!-- Page Contents -->
  <div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">
     {{ template "pointing_menu.html" .}}  
     <div class="ui text container">
      <h2 class="ui inverted header">
        Browse 
      </h2>
    </div>
  </div>
  <div class="ui four column doubling stackable grid">
    <div class="justified" id="canvasContainer">
    </div>
      <!--<div  class="column" id="canvasContainer">
      </div>-->
      <!--<div  class="column box">
      </div>-->
  </div>
</div>
{{ template "footer.html" .}}
</div>

</body>

</html>