<div class="row">
  <div class="ui cards">
    <div class="ui centered card">
      <div class="content">
        <div class="header">CC0 Creative Commons</div>
        <div class="left aligned description">
          <div class="extra">
            <i class="check icon"></i>
            Free for personal and commercial use
          </div>
          <div class="extra">
            <i class="check icon"></i>
            No attribution required
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div clas="row">
  <p></p>
  <p></p>
  <p></p>
</div>

<div class="row">  
  <button class="ui button center aligned" id="helpMeButton">
    <i class="help icon"></i>
    Help me
  </button>
  <button class="ui button center aligned" id="reportButton">
    <i class="flag icon"></i>
    Report Picture
  </button>
</div>
