<script type='text/javascript'>
$(document).ready(function(){

  $("#helpMeButton").click(function(e) {
    $('#helpMeGif').attr('src', 'img/labelme_help.gif');
    $('#helpMeDlg').modal('setting', { detachable:false }).modal('show');
  });
});
</script>

<div class="ui longer modal" id="helpMeDlg">
  <i class="close icon"></i>
  <div class="center aligned header">
    Labeling Objects
  </div>
  <div class="scrolling content">
    <b>Best Practice</b>
    <ul>
      <li><p>Only label objects that are visible in the image</p></li>
      <li><p>If you can't find a label, please create a <a href="https://github.com/bbernhard/imagemonkey-core/blob/master/wordlists/en/labels.json">pull request</a></p></li>
      <li><p>Some labels (e.q 'dog') pull in some sublabels (e.q 'eye') which can be de-selected if not needed</p></li>
    </ul>

    <b>Demo</b>
    <p></p>
    <img src="" class="ui large bordered rounded image" id="helpMeGif">

  </div>
  <div class="actions">
    <div class="ui positive button">
      Got it
    </div>
  </div>
</div>