<!DOCTYPE html>
<html>
<head>
  {{ template "favicon.html" .}}
  
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <title>{{ .title }}</title>
  
  <link rel="stylesheet" href="css/semantic.min.css"/>
  <script src="js/jquery.min.js"></script>
  <script src="js/semantic.min.js"></script> 

  <link rel="stylesheet" href="css/common.css"/>
  <link rel="stylesheet" href="css/common_sub.css"/>
  <script src="js/common.js?v=2"></script> 
  <script src="js/label.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="css/jquery-ui.css">
  <script src="js/justified-layout.min.js"></script>
  <script src="js/mousetrap.min.js"></script>
  <script src="js/mousetrap-record.min.js"></script>
  <script src="js/settings.js?v=4"></script>
  <script src="js/contextjs/context.js"></script>
  <link rel="stylesheet" href="css/contextjs/context.standalone.css">
  <script src="js/infinitescroll.js?v=2"></script>
  <script src="js/fingerprint2.min.js"></script>
  <link rel="stylesheet" href="css/balloon/balloon.min.css">
  <script src="js/fabric.min.js"></script>
  <script src="js/fabric_helper.js?v=12"></script>
  <link rel="stylesheet" href="css/spinner/spinners/3-wave.css"/>

  <style type="text/css">
    .canvas-container{margin: 0 auto;}

    #mainGrid {
      margin-top: -8em;
    }

    @media only screen and (max-width: 700px) {
      #mainGrid {
        margin-top: 0em;
      }
    }
  </style>

  <script type="text/javascript">
  var browserFingerprint = null;
  var colorMap = {}
  var oldLabelMap = {}
  var newlyAddedLabels = {}
  var oldImageDescriptions = {}
  var newlyAddedImageDescriptions = {}
  var labelAccessorsLookupTable = {{ .labelAccessorsLookup }};
  var canvas = null;
  var cachedAnnotations = null;
  var annotationsShown = false;
  var annotationFetchingInProgress = false;
  var introductionTour = null;

  buildColorMap();

  function getImageContainerMaxWidth() {
    return document.getElementById("imageContainer").clientWidth - 100; //margin
  }

  function getCanvasScaleFactor(origImageWidth) {
    var maxWidth = getImageContainerMaxWidth();
    var scaleFactor = maxWidth/origImageWidth;
    if(scaleFactor > 1.0)
      scaleFactor = 1.0;
    return scaleFactor;
  }

  function labelExists(label){
    if(label in oldLabelMap)
      return true;
    if(label in newlyAddedLabels)
      return true;
    return false;
  }

  function buildColorMap(){
    for(var key in labelAccessorsLookupTable){
      if(labelAccessorsLookupTable.hasOwnProperty(key)){
        var color = StringToColor.next(key);
        colorMap[key] = color;
      }
    }
  }

  function sublabelExists(label, sublabel){
    var sublabels = [];
    if(label in oldLabelMap){
      var sublabels = oldLabelMap[label];
      if(sublabels !== null){
        for(var i = 0; i < sublabels.length; i++){
          if(sublabels[i]["name"] === sublabel)
            return true;
        }
      }
    }
    if(label in newlyAddedLabels){
      var sublabels = newlyAddedLabels[label];
      if(sublabels !== null){
        for(var i = 0; i < sublabels.length; i++){
          if(sublabels[i] === sublabel)
            return true;
        }
      }
    }
    return false;
  }

  //only provide token, if resource is still locked (important as we are using a Content Delivery Network and the /donation endpoint is cached)
  function getUrlFromImageUrl(imageUrl, imageUnlocked) {
    var url = (imageUrl === "" ? "img/oops-no-annotation-left.png" : imageUrl);

    if(imageUrl !== "") {
      if(!imageUnlocked){
        url += "?token=" + getCookie("imagemonkey");
      }
    }

    return url;
  }

  function getRandomColor() {
    var letters = '0123456789ABCDEF';
    var color = '#';
    for (var i = 0; i < 6; i++) {
      color += letters[Math.floor(Math.random() * 16)];
    }
    return color;
  }

  function getAnnotations(imageId) {
    var url = "{{ .apiBaseUrl }}/v1/donation/" + imageId + "/annotations";
    
    annotationFetchingInProgress = true;
    $("#annotationsLoadingIndicator").show();

    $.ajax({
      url: url,
      dataType: 'json',
      beforeSend: function(xhr) {
        xhr.setRequestHeader("Authorization", "Bearer " + getCookie("imagemonkey"))
      },
      success: function(data) {
        cachedAnnotations = [];

        if(data.length === 0) {
          $('#warningMessageBoxContent').text("No annotations available for that image");
          $('#warningMessageBox').show(200).delay(1500).hide(200);
          $('#annotationsLoadingIndicator').hide();
          return;
        }

        var entries;
        var color;
        for(var i = 0; i < data.length; i++) {
          entries = data[i].annotations;
          for(var j = 0; j < entries.length; j++) {
            color = getRandomColor();
            
            entries[j]["stroke"] = {};
            entries[j].stroke.color = color;

            entries[j]["fill"] = {};
            entries[j].fill.color = color;
            entries[j].fill.opacity = 0.5;
          }
          cachedAnnotations = cachedAnnotations.concat(entries);
        }
        drawAnnotations(canvas.fabric(), cachedAnnotations, canvas.fabric().backgroundImage.scaleX);
        $('#annotationsLoadingIndicator').hide();
      }
    });
  }

  function addExistingImageDescriptions(descriptions) {
    oldImageDescriptions = {}
    for(var i = 0; i < descriptions.length; i++) {
      var isUnlocked = false;
      if(descriptions[i].state === "unlocked")
        isUnlocked = true;
      addExistingImageDescription(descriptions[i].text, isUnlocked, descriptions[i].language);
    }

    showHideNoImageDescriptionsDefined();
  }

  function getNextImage(imageId){
    showHideMainArea(true);
    clearSelectedLabel(); //clear current label
    removeAllLabels();
    removeAllImageDescriptions();
    $('#mostPopularLabelsContainer').hide();
    oldLabelMap = {}
    newlyAddedLabels = {}
    oldImageDescriptions = {}
    newlyAddedImageDescriptions = {}

    showHideControls(false, false);


    var url = '{{ .apiBaseUrl }}/v1/labelme';
    if(imageId !== "") {
      url += '?image_id=' + imageId;
    }

    $.ajax({
      url: url,
      dataType: 'json',
      beforeSend: function(xhr) {
        xhr.setRequestHeader("Authorization", "Bearer " + getCookie("imagemonkey"))
      },
      success: function(data){
        $("#image").attr("imageId", data.image.uuid);
        populateGotoDlg(data.image.uuid);

        var scaleFactor = getCanvasScaleFactor(data.image.width);
        canvas.clear();
        canvas.setWidth(data.image.width*scaleFactor);
        canvas.setHeight(data.image.height*scaleFactor);

        {{ if eq .type "object" }}

        addOldLabels(data["all_labels"]);


        {{ if eq .isModerator true }}
        context.init({preventDoubleContext: false});
        context.attach('.existing-label', [

          {header: 'Moderator'},
          {text: 'Remove', action: function(e, selector) {
                              e.preventDefault();
                              
                              if(selector.css("text-decoration").startsWith("line-through")) {
                                $("#moderatorLabelAlreadyRemovedInfoDlg").modal("show");
                              } else {
                                var validationUuid = selector.attr("data-validation-uuid");

                                if(validationUuid !== "") {
                                  $("#moderatorRemoveLabelDlg").attr("data-remove-label-id", selector.attr("id"));
                                  $("#moderatorRemoveLabelDlg").attr("data-validation-uuid", validationUuid);
                                  $("#moderatorRemoveLabelDlgContent").html("Do you really want to remove <b>" + selector.text()  + "</b>?");
                                  $("#moderatorRemoveLabelDlg").modal("show");
                                } else {
                                  $("#moderatorOnlyRemoveProductiveLabelsInfoDlg").modal("show");
                                }
                              }
                           }
          }
        ]);
        {{ end }}
        {{ end }}

        {{ if eq .type "image" }}
        if(data.image.descriptions !== undefined)
          addExistingImageDescriptions(data.image.descriptions);
        {{ end }}


        canvas.setCanvasBackgroundImageUrl(getUrlFromImageUrl(data.image.url, data.image.unlocked), function() {
          showHideMainArea(true);
          showHideControls(true, data.image.unlocked);
          
          /*var settings = new Settings();
          if(!settings.isLabelViewFirstTimeOpened()) {
            settings.setLabelViewFirstTimeOpened(true);
            introductionTour.start();
          }*/
          
        });

      }
    });
  }

  function showHideNoLabelsDefined(){
    if((Object.keys(oldLabelMap).length === 0) && (Object.keys(newlyAddedLabels).length === 0)){
      $("#noLabelsDefined").show();
    }
    else{
      $("#noLabelsDefined").hide();
    }
  }

  function showHideNoImageDescriptionsDefined(){
    if((Object.keys(oldImageDescriptions).length === 0) && (Object.keys(newlyAddedImageDescriptions).length === 0)){
      $("#noImageDescriptionsDefined").show();
    }
    else{
      $("#noImageDescriptionsDefined").hide();
    }
  }

  function isLabelValid(numOfValid, numOfInvalid) {
    if((numOfValid + numOfInvalid) > 0) {
      var probabilityOfBeginValid = numOfValid / (numOfValid + numOfInvalid);
      if(probabilityOfBeginValid >= 0.75)
        return true;
      return false;
    }

    //images with no validations are always seen as valid
    return true;
  }
  function showHideMainArea(show) {
    if(show) {
      $("#mainContainer").show();
      $("#imgInfo").show();
      $("#labelInfo").show();
      $("#mostPopularLabelsContainer").fadeIn("slow");
      $("#imageDescriptionsContainer").show();
      $("#gotoModeContainer").show();
    } 
    else {
      $("#mainContainer").hide();
      $("#imgInfo").hide();
      $("#mostPopularLabelsContainer").hide();
      $("#labelInfo").hide();
      $("#imageDescriptionsContainer").hide();
      $("#gotoModeContainer").hide();
    }
  }

  function showHideControls(show, imageUnlocked){
    if(show){
      $('#image').show();
      $("#doneButton").removeClass('disabled');
      $('#doneButton').show();
      $('#labels').show();
      $('#loadingIndicator').hide();
      $('#labelForm').show();

      {{ if eq .type "object" }}
      $('#objectsWithoutLabelText').show();
      {{ end }}

      {{ if eq .type "image" }}
      $('#imageWithoutImageDescriptionText').show();
      {{ end }}

      if(imageUnlocked)
        $("#imageLockedLabel").hide();
      else
        $("#imageLockedLabel").show();
    }
    else{
      $('#image').hide();
      $('#doneButton').hide();
      $('#labels').hide();
      $('#loadingIndicator').show();
      $('#labelForm').hide();

      {{ if eq .type "object" }}
      $('#objectsWithoutLabelText').hide();
      {{ end }}

      {{ if eq .type "image" }}
      $('#imageWithoutImageDescriptionText').hide();
      {{ end }}

      $("#imageLockedLabel").hide();
    }
  }

  function addOldLabels(input) {
    oldLabelMap = {};
    if(input !== null) {
      for(var i = 0; i < input.length; i++) {
        var escapedLabel = escapeHtml(input[i]["label"]);

        var sublabels = input[i]["sublabels"];
        var s = [];
        if(sublabels !== undefined && sublabels !== null) {
          for(var j = 0; j < sublabels.length; j++) {
            s.push(sublabels[j]);
          }
          oldLabelMap[escapedLabel] = s;
        } 
        else
          oldLabelMap[escapedLabel] = []; //sublabels;
        
        addOldLabel(input[i]);
      }
    }

    showHideNoLabelsDefined();
  }

  function getMostPopularLabels(){
    var url = '{{ .apiBaseUrl }}/v1/label/popular';
    $.ajax({
      url: url,
      dataType: 'json',
      complete: function(data){
      },
      success: function(data){
        if(data !== null){
          for(var i = 0; i < data.length; i++){
            addPopularLabel(escapeHtml(data[i]));
          }

          if(data.length > 0 ) //only show if there is at least one suggestion
            $("#mostPopularLabelsContainer").fadeIn("slow");
        }
      }
    });
  }

  function removeImageDescription(e) {
    var imageDescriptionItem = $(e).parent().text();
    $(e).parent().remove();
    delete newlyAddedImageDescriptions[imageDescriptionItem];
    showHideNoImageDescriptionsDefined();
  }

  var removeLabel = function(e){
    var sublabel = $(e).parent().attr('sublabel');
    var label = $(e).parent().attr('label');
    if(sublabel === undefined){ //remove base label + all it's sublabels
      //remove actual label...
      $(e).parent().remove();

      //..and all it's sublabels
      $('#labels').children().each(function (){
        if($(this).attr("label") === label){
          $(this).remove();
        }
      })

      delete newlyAddedLabels[label];
    }
    else{ //remove a specific sublabel
      sublabels = newlyAddedLabels[label];
      var index = sublabels.indexOf(sublabel);
      if(index > -1){
        sublabels.splice(index, 1);
      }
      newlyAddedLabels[label] = sublabels;
      $(e).parent().remove();
    }

    showHideNoLabelsDefined();
  };

  var createLabelFromMostPopularLabel = function(e){
    addLabel($(e).text());
  };

  var removeAllLabels = function(){
    $('#labels').children().each(function (){
      delete newlyAddedLabels[$(this).text()];
      $(this).remove();
    })
  }

  var removeAllImageDescriptions = function(){
    $('#imageDescriptions').children().each(function (){
      delete newlyAddedImageDescriptions[$(this).text()];
      $(this).remove();
    })
  }

  /*var removeAllMostPopularLabels = function(){
    $('#mostPopularLabels').children().each(function (){
      $(this).remove();
    })
  }*/


  function addOldLabel(data){
    var label = escapeHtml(data["label"]);
    var displayedLabel = '';
    var color = colorMap[label];
    var subLabels = oldLabelMap[label];
    var id = '';
    var elem = null;
    var strikethrough = false;
    if((subLabels !== null) && (subLabels.length > 0)){
      for(var i = 0; i < subLabels.length; i++){
        //if the label isn't valid, strike through label and make it grey
        displayedLabel = subLabels[i]["name"] + '/' + label;
        id = 'old' + subLabels[i]["validation"]["uuid"];
        strikethrough = false;
        if(!isLabelValid(subLabels[i]["validation"]["num_yes"], subLabels[i]["validation"]["num_no"])){
          displayedLabel = subLabels[i]["name"] + '/' + label;
          color = '';
          strikethrough = true;
        }


        elem = $(('<div class="ui huge ' + color + ' label existing-label" sublabel="' + subLabels[i]["name"] 
                    +'" label="' + label + '"' + ' data-validation-uuid="' 
                    + subLabels[i]["validation"]["uuid"] + '"' + ' id="' + id + '"' + ' >' + displayedLabel + '</div>'));

        if(strikethrough)
          elem.css("text-decoration", "line-through");

        $('#labels').prepend(elem);
      }

    }

    //if the label isn't valid, strike through label and make it grey
    strikethrough = false;
    displayedLabel = label;
    if(!isLabelValid(data["validation"]["num_yes"], data["validation"]["num_no"])){
      displayedLabel = label;
      color = '';
      strikethrough = true;
    }

    id = 'old' + data["validation"]["uuid"];
    elem = $(('<div class="ui huge ' + color + ' label existing-label" label="' + label +  '"' 
               + ' data-validation-uuid="' + data["validation"]["uuid"] + '"' + ' id="' + id + '"'
               + ' >' + displayedLabel + '</div>'));

    if(strikethrough)
      elem.css("text-decoration", "line-through");

    $('#labels').prepend(elem);
  }


  function addLabel(labelAccessor) {
    var escapedLabelAccessor = escapeHtml(labelAccessor);
    var escapedLabel = null;
    var escapedSublabel = null;

    if(!(labelAccessor in labelAccessorsLookupTable)) {
      escapedLabel = escapedLabelAccessor;
      escapedSublabel = null;
    } else {
      var labelItem = labelAccessorsLookupTable[escapedLabelAccessor];
      escapedLabel = escapeHtml(labelItem.label);

      if(labelItem.sublabel !== null)
        escapedSublabel = escapeHtml(labelItem.sublabel);
      else
        escapedSublabel = null;
    }

    var baseLabelExists = labelExists(escapedLabel);
    var added = false;
    var color = colorMap[escapedLabel];


    if(escapedSublabel !== null) {
      if(!sublabelExists(escapedLabel, escapedSublabel)) {
        $('#labels').prepend($(('<div class="ui huge ' + color + ' label" sublabel="' + escapedSublabel + 
                                '" label="' + escapedLabel + '"' + '>' + escapedSublabel + '/' + escapedLabel + 
                                '<i class="delete icon" onclick="removeLabel(this)"></i></div>')));
        added = true;

        if(escapedLabel in newlyAddedLabels) {
          var alreadyAvailableSubLabels = newlyAddedLabels[escapedLabel];
          alreadyAvailableSubLabels.push(escapedSublabel)
          newlyAddedLabels[escapedLabel] = alreadyAvailableSubLabels;
        }
        else {
          newlyAddedLabels[escapedLabel] = [escapedSublabel];
        }
      }
    } else {
      if(!baseLabelExists)
        newlyAddedLabels[escapedLabel] = [];
    }

    if(!baseLabelExists) {
      added = true;
      $('#labels').prepend($(('<div class="ui huge ' + color + ' label" label="' + escapedLabel +  '" >' + 
                              escapedLabel + '<i class="delete icon" onclick="removeLabel(this)"></i></div>')));
    }


    if(!added) {
      $('#warningMessageBoxContent').text("Label already exists");
      $('#warningMessageBox').show(200).delay(1500).hide(200);
    }

    showHideNoLabelsDefined();
  }

  function addImageDescription(imageDescription, lang) {
    var added = false;
    var escapedImageDescription = escapeHtml(imageDescription);

    var color = getColorForImageDescriptionLanguage(lang);

    if(!(escapedImageDescription in newlyAddedImageDescriptions) && !(escapedImageDescription in oldImageDescriptions)) {
      $('#imageDescriptions').prepend($(('<div class="ui huge basic ' + color + ' label">' +  
                                            escapedImageDescription + 
                                            '<i class="delete icon" onclick="removeImageDescription(this)"></i></div>')));
      newlyAddedImageDescriptions[escapedImageDescription] = lang;
      added = true;
    }
    else {
      $('#warningMessageBoxContent').text("Image description already exists");
      $('#warningMessageBox').show(200).delay(1500).hide(200);
    }
    showHideNoImageDescriptionsDefined();

    return added;
  }

  function getColorForImageDescriptionLanguage(lang) {
    if((lang === "en") || (lang === "English"))
      return "red";
    else if((lang === "ger") || (lang === "German"))
      return "blue";
    return "grey";
  }

  function addExistingImageDescription(imageDescription, isUnlocked, lang) {
    var escapedImageDescription = escapeHtml(imageDescription);

    var basicLabelStr = "";
    var tooltipStr = "";
    if(!isUnlocked) {
      basicLabelStr = 'basic '
      tooltipStr = 'data-tooltip="Waiting for moderator approval"'
    }

    var color = getColorForImageDescriptionLanguage(lang);

    $('#imageDescriptions').prepend($(('<div class="ui huge ' + basicLabelStr + color + ' label" ' + tooltipStr + '>' +  
                                          escapedImageDescription + 
                                          '</div>')));
    oldImageDescriptions[escapedImageDescription] = true;
  }

  function addPopularLabel(label){
    $('#mostPopularLabels').prepend($(('<div class="ui big label button" onclick="createLabelFromMostPopularLabel(this)">' + label + '</div>')));
  }

  function getSelectedLabel(){
    return $('#labelDropdown').dropdown('get text');
  }

  function clearSelectedLabel(){
    $('#labelDropdown').dropdown('restore placeholder text');
  }

  function addImageDescriptionsToImage() {
    var imageDescriptions = [];
    var strImageDescriptionsLst = "";
    for (var key in newlyAddedImageDescriptions){
      if (newlyAddedImageDescriptions.hasOwnProperty(key)) {
        imageDescriptions.push({"description": key, "language": newlyAddedImageDescriptions[key]});
        strImageDescriptionsLst += key + "; ";
      }
    }

    if(strImageDescriptionsLst.length > 2)
      strImageDescriptionsLst = strImageDescriptionsLst.substring(0, strImageDescriptionsLst.length - 2); //remove last ';' + space

    var headers = {}
    if(browserFingerprint !== null)
      headers['X-Browser-Fingerprint'] = browserFingerprint;

    var url = '{{ .apiBaseUrl }}/v1/donation/' + $("#image").attr("imageId") + "/description";
    $.ajax({
      url: url,
      dataType: 'json',
      type: 'POST',
      data: JSON.stringify(imageDescriptions),
      headers: headers,
      beforeSend: function(xhr) {
        xhr.setRequestHeader("Authorization", "Bearer " + getCookie("imagemonkey"))
      },
      complete: function(data){
      },
      success: function(data){
        {{ if eq .mode "default" }}
        getNextImage("");
        {{ else }}
        showHideMainArea(false);
        updateImageDescriptionsForImage($("#image").attr("imageId"), strImageDescriptionsLst);
        showBrowseLabelImageGrid();
        {{ end }}
      }
    });
  }

  function addLabelsToImage() {
    var labelsLst = [];
    var strLabelsLst = "";

    //dict to list
    for (var key in newlyAddedLabels){
      if (newlyAddedLabels.hasOwnProperty(key)) {
        var sublabels = newlyAddedLabels[key];
        var s = [];
        strLabelsLst += (escapeHtml(key) + ", ");
        for(var i = 0; i < sublabels.length; i++) {
          s.push({"name": sublabels[i]});
          strLabelsLst += (escapeHtml(sublabels[i]) + "/" + escapeHtml(key) + ", ");
        }
        labelsLst.push({label: key, annotatable: true, sublabels: s});
      }
    }

    if(strLabelsLst.length > 2)
      strLabelsLst = strLabelsLst.substring(0, strLabelsLst.length - 2); //remove last comma + space

    var url = '{{ .apiBaseUrl }}/v1/donation/' + $("#image").attr("imageId") + "/labelme";
    var headers = {}
    if(browserFingerprint !== null)
      headers['X-Browser-Fingerprint'] = browserFingerprint;

    
    $.ajax({
      url: url,
      dataType: 'json',
      type: 'POST',
      data: JSON.stringify(labelsLst),
      headers: headers,
      beforeSend: function(xhr) {
        xhr.setRequestHeader("Authorization", "Bearer " + getCookie("imagemonkey"))
      },
      complete: function(data){
      },
      success: function(data){
        {{ if eq .mode "default" }}
        getNextImage("");
        {{ else }}
        showHideMainArea(false);
        updateLabelsForImage($("#image").attr("imageId"), strLabelsLst);
        showBrowseLabelImageGrid();
        {{ end }}      
      }
    });
  }

  $(document).ready(function(){
    $('#mostPopularLabelsContainer').hide();
    addOldLabels({{ .image.AllLabels }});

    canvas = new CanvasDrawer("image");
    canvas.fabric().selection = false;

    {{ if eq .type "object" }}
    {{ if (eq .sessionInformation.LoggedIn false) }}
    var addLabelsToDropdown = true;

    {{ end }}
    {{ end }}

    var availableLabels = [];
    var availableLabelsLookupTable = {} //use map for faster access
    for (var key in labelAccessorsLookupTable) {
      if (labelAccessorsLookupTable.hasOwnProperty(key)) {
        availableLabelsLookupTable[key] = true;
        availableLabels.push(escapeHtml(key));

        if(typeof addLabelsToDropdown !== typeof undefined && addLabelsToDropdown) {
          $("#labelDropdownMenu").append(('<div class="item" data-value="' + 
                                            escapeHtml(key) + '"><i class="tag icon"></i>' + escapeHtml(key) + '</div>'));
        }
      }
    } 

    var labelSuggestions = {{ .labelSuggestions }};
    if(labelSuggestions !== null) {
      for (var i = 0; i < labelSuggestions.length; i++) { 
        var escapedLabelSuggestion = escapeHtml(labelSuggestions[i]);
        if(!(escapedLabelSuggestion in availableLabelsLookupTable)){
          availableLabelsLookupTable[escapedLabelSuggestion] = true;
          availableLabels.push(escapedLabelSuggestion);
        }
      }
    }

    {{ if eq .type "image" }}
    var defaultImageDescriptionLanguage = new Settings().getDefaultImageDescriptionLanguage();
    $("#languageSelection").dropdown('set value', defaultImageDescriptionLanguage);
    {{ end }}

    getMostPopularLabels();

    $('#addImageDescriptionButton').click(function(e) {
      var imageDescriptionInput = $("#addImageDescriptionInput").val();
      var lang = $("#languageSelection").dropdown('get value');
      if(imageDescriptionInput !== "") {
        if(addImageDescription(imageDescriptionInput, lang))
          $("#addImageDescriptionInput").val(''); //clear input
      }
      else {
        $('#warningMessageBoxContent').text("Please enter a image description");
        $('#warningMessageBox').show(200).delay(1500).hide(200);
      }
    });

    $('#addLabelButton').click(function(e){
      var selectedLabel = getSelectedLabel();
      if(selectedLabel !== ""){
        addLabel(selectedLabel);
        clearSelectedLabel(); //clear label after add
      }
    });

    $('#addLabelSuggestionButton').click(function(e){
      onAddLabelSuggestion();
    });

    $('#helpMeButton').click(function(e) {
      introductionTour.start();
    });

    $('#doneButton').click(function(e) {
      $("#doneButton").addClass("disabled");

      e.preventDefault();
      
      {{ if eq .type "object" }}
        if(Object.keys(newlyAddedLabels).length === 0) {
          getNextImage("");
        }
        else {
          addLabelsToImage(); 
        }

      {{ end }}


      {{ if eq .type "image" }}
        if(Object.keys(newlyAddedImageDescriptions).length === 0) {
          getNextImage("");
        }
        else {
          addImageDescriptionsToImage(); 
        }
      {{ end }}
    });

    $('.ui.dropdown')
    .dropdown()
    ;


    function split(val) {
      return val.split( / \s*/ );
    }
    
    function extractLast(term) {
      return split(term).pop();
    }

    function onAddLabelSuggestion() {
      var labels = $("#labelSuggestion").val();
      if(labels !== ""){
        var splittedLabels = labels.split(new Settings().getLabelSeparator()).map(item => item.trim()); //split by delimiter and 
                                                                                                        //remove surrouding spaces around each label
        var label = "";
        for(var i = 0; i < splittedLabels.length; i++) { 
          label = splittedLabels[i];
          if(label === "")
            continue;

          if(!(label in availableLabelsLookupTable)) {
            availableLabelsLookupTable[label] = true;
            availableLabels.push(label);
          }

          addLabel(label); //label will be HTML-escaped within the addLabel() function, so no need to do that here
          $("#labelSuggestion").val(''); //clear input after add
        }
      }
    }

    $("#labelSuggestion")
      // don't navigate away from the field on tab when selecting an item
      .on("keydown", function(event) {
        if (event.keyCode === $.ui.keyCode.TAB &&
          $(this).autocomplete("instance").menu.active) {
          event.preventDefault();
      }
    })
    .autocomplete({
      minLength: 2,
      source: function(request, response) {
        // delegate back to autocomplete, but extract the last term
        response($.ui.autocomplete.filter(
        availableLabels, extractLast(request.term)));
      },
      focus: function() {
        // prevent value inserted on focus
        return false;
      },
      select: function(event, ui) {
        var terms = split(this.value);
        // remove the current input
        terms.pop();
        // add the selected item
        terms.push(ui.item.value);
        // add placeholder to get the comma-and-space at the end
        terms.push("");
        this.value = terms.join("");
        return false;
      }
    });

    try {
      //can fail in case someone uses uBlock origin or Co.
      new Fingerprint2().get(function(result, components){
        browserFingerprint = result;
      });
    } catch(e) {
    }

    var settings = new Settings();
    Mousetrap.bind(settings.getAddLabelHotkey(), function(e, combo) { 
      {{ if eq .type "object" }}
      $('#labelSuggestion').autocomplete('close'); //close autocomplete dropdown
      onAddLabelSuggestion();
      {{ end }}

      {{ if eq .type "image" }}
      $("#addImageDescriptionButton").trigger("click");
      {{ end }}

    });

    Mousetrap.bind("alt+a", function(e, combo) { 
      if(!annotationsShown) {
        if(!cachedAnnotations && !annotationFetchingInProgress) {
          getAnnotations($("#image").attr("imageId"));
          annotationsShown = !annotationsShown;
        }
        else {
          if(cachedAnnotations.length === 0) { //image has no annotations
            $('#warningMessageBoxContent').text("No annotations available for that image");
            $('#warningMessageBox').show(200).delay(1500).hide(200);
          }
          else {
            canvas.clearObjects();
            drawAnnotations(canvas.fabric(), cachedAnnotations, canvas.fabric().backgroundImage.scaleX);
            annotationsShown = !annotationsShown;
          }
        }
      } 
      else {
        canvas.clearObjects();
        annotationsShown = !annotationsShown;
      }
    });

    {{ if eq .mode "default" }}
    getNextImage({{ .imageId }});
    {{ end }}
    
    introductionTour = new Introduction({{ .sessionInformation.LoggedIn }});
  });
</script>
</head>
<body>

  {{ template "menu.html" .}}

  <!-- Page Contents -->
  <div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">
      {{ template "pointing_menu.html" .}}
      <div class="ui text container">
       <h2 class="ui inverted header">{{ .subtitle }}</h2>
       <div style="display: none;" class="ui red bottom right attached label" id="imageLockedLabel">IMAGE LOCKED</div>
     </div>
   </div>

   <div id="mainGrid" class="ui stackable grid vertical stripe mobile reversed">
    {{ if eq .mode "browse" }}
    {{ template "label_browse_select_mode.html" .}}
    {{ end }}


    {{ template "goto_mode.html" dict "validation" 1 "annotation" 1 "labeling" 0 "currentScreen" "labeling" "visible" false}}

    <div class="one wide column">
    </div>

    <div class="three wide center aligned column" style="display: none;" id="labelInfo">
      {{ if eq .type "object" }}
      <p><h2 id="labelsHeader">Labels:</h2></p>
      <p hidden id="noLabelsDefined">There are currently no labels defined for that image. Add labels and help to improve our dataset.</p>

      <div class="ui labels" id="labels">
      </div>
      {{ end }}

      {{ if eq .type "image" }}
      <h1></h1>
      <h1></h1>
      <div id="imageDescriptionsContainer" hidden>
        <h2 style="margin-bottom:0px;">Image Descriptions:</h2>
        <br>
        <p hidden id="noImageDescriptionsDefined">There are currently no image descriptions defined. Add a description and help to improve our dataset.</p>
        <div class="ui labels" id="imageDescriptions">
        </div>
      </div>
      {{ end }}

      {{ if eq .type "object" }}
      <h1></h1>
      <h1></h1>
      <div id="mostPopularLabelsContainer" hidden>
        <h2 style="margin-bottom:0px;">Most Popular Labels:</h2>
        <p style="font-size:12px; margin-bottom:20px;">These are the most popular labels in the whole dataset</p>
        <div class="ui labels" id="mostPopularLabels">
        </div>
      </div>
      {{ end }}

    </div>
    <div class="eight wide center aligned column" style="display: none;" id="mainContainer">
      <div id="imageContainer" style="margin-top:-4em;">
        <canvas imageId="" id="image"></canvas>
      </div>

      {{ if eq .type "object" }}
      <br>
      <p id="objectsWithoutLabelText">Do you see any objects without a label?</p>
      {{ end }}

      {{ if eq .type "image" }}
      <br>
      <p id="imageWithoutImageDescriptionText">Do you see an image without description?</p>
      {{ end }}

      <div class="ui centered grid">
        <div class="row">
          {{ if eq .type "object" }}
          <div class="ui form">
            {{ if (eq .sessionInformation.LoggedIn false) }}
            <div class="field">
              <div class="ui search">
                <div class="ui center aligned action input" id="labelForm">
                  <!--<input class="prompt" placeholder="Enter Label..." type="text" id="newLabel">-->
                  <div class="ui search selection dropdown" id="labelDropdown">
                    <div class="default text">Select Label</div>
                    <div class="menu" id="labelDropdownMenu">
                    </div>
                  </div>

                  <button class="ui button" id="addLabelButton">Add</button>
                </div>
              </div>
            </div>

            {{ else }}
            <div class="field">
              <div class="ui center aligned action input" id="labelForm">
                <div class="ui input">
                  <input placeholder="Enter label..." type="text" id="labelSuggestion" class="mousetrap">
                </div>
                <button class="ui button" id="addLabelSuggestionButton">Add</button>
              </div>
            </div>
            {{ end }}
          </div>
          {{ end }}

          {{ if eq .type "image" }}
          <div class="ui form">
            <div class="field">
              <div class="ui center aligned action input" id="labelForm">
                <div class="ui dropdown labeled search icon button" id="languageSelection">
                  <i class="world icon"></i>
                  <span class="text">Select Language</span>
                  <div class="menu">
                    {{ range $key, $value := .languages }}
                    <div class="item" data-value="{{ $key }}">{{ $value.Abbreviation }}</div>
                    {{ end }}
                    
                    <!--<div class="item" data-value="ger">GER</div>-->
                  </div>
                </div>
                <!--<div class="ui icon button" id="addImageDescriptionButton" data-tooltip="Lanuage (english)"><i class="globe icon"></i>ENG</div>-->
                <div class="ui input">
                  <input placeholder="Enter image description..." type="text" id="addImageDescriptionInput" class="mousetrap">
                </div>
                <button class="ui button" id="addImageDescriptionButton">Add</button>
              </div>
            </div>
          </div>
          {{ end }}


          <div class="row" id="loadingIndicator" style="display: none;">
            <div class="sk-wave overlay">
              <div class="sk-rect sk-rect1"></div>
              <div class="sk-rect sk-rect2"></div>
              <div class="sk-rect sk-rect3"></div>
              <div class="sk-rect sk-rect4"></div>
              <div class="sk-rect sk-rect5"></div>
            </div>
          </div>

          <div class="row" id="annotationsLoadingIndicator" style="display: none;">
            <div class="sk-wave overlay">
              <div class="sk-rect sk-rect1"></div>
              <div class="sk-rect sk-rect2"></div>
              <div class="sk-rect sk-rect3"></div>
              <div class="sk-rect sk-rect4"></div>
              <div class="sk-rect sk-rect5"></div>
            </div>
          </div>

          <h1></h1>
        </div>
      </div>

      <div class="row">
        <div class="ui centered grid">
          <div class="five wide computer five wide tablet twelve wide mobile column">
            <div class="ui positive fluid button" id="doneButton">Done</div>
          </div>
        </div>
      </div>

      <div hidden class="ui warning message" hidden id="warningMessageBox">
        <i class="close icon"></i>
        <div class="header" id="warningMessageBoxContent">
        </div>
      </div>

      {{ template "report_dlg.html" .}}
      {{ template "goto_labels_dlg.html" dict "validation" 1 "annotation" 1 "apiBaseUrl" .apiBaseUrl "imageIdentifier" "" "currentScreen" "labeling" "languages" .languages "type" .type }}

      {{ if eq .isModerator true }}
      {{ template "moderator_label_remove_dlg.html" dict "apiBaseUrl" .apiBaseUrl}}
      {{ end }}
    </div>


    <div class="four wide center aligned computer only column" style="display: none;" id="imgInfo">
      {{ template "img_info.html" .}}
    </div>
  </div>


</div>
{{ template "footer.html" .}}
  

  <link href="css/shepherdjs/shepherd-theme-dark.css" rel="stylesheet">
  <script src="js/popperjs/popper.min.js"></script>
  <script src="js/shepherdjs/shepherd.js"></script>
  
</body>
<script src="js/intros/label_intro.js"></script>

</html>
