<!DOCTYPE html>
<html>
<head>
  {{ template "favicon.html" .}}
  
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <title>{{ .title }}</title>
  
  <link rel="stylesheet" href="css/semantic.min.css"/>
  <script src="js/jquery.min.js"></script>
  <script src="js/semantic.min.js"></script> 
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="css/common.css"/>
  <link rel="stylesheet" href="css/common_sub.css"/>
  <script src="js/common.js"></script> 
  <script src="js/highlight.pack.js"></script>
  <link rel="stylesheet" href="css/highlightjs/default.css"/>

  <style>
    pre code.hljs {
      display: block;
    }

    code.hljs {
      display: inline;
    }
  </style>

  <script type="text/javascript">
    $(document).ready(function(){
      hljs.initHighlightingOnLoad();
    })

  </script>

</head>


<body>

  {{ template "menu.html" .}}

  <!-- Page Contents -->
  <div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">
     {{ template "pointing_menu.html" .}}  
     <div class="ui text container">
      <h2 class="ui inverted header">
        Libraries
      </h2>
    </div>
  </div>
  <div class="ui vertical stripe segment">
    <div class="ui text container">

      <div class="row">
        One of the best things about ImageMonkey is our tight integration with Machine learning frameworks like <a href="https://www.tensorflow.org/">Tensorflow</a> and <a href="https://github.com/matterport/Mask_RCNN">Mask RCNN</a>.<br>You want to train your own image classifier based on the ImageMonkey dataset?<br> <br>
        It's as easy as that:<br><br>

        <div class="ui segment">
          <pre><code class="bash">
    docker pull bbernhard/imagemonkey-train:latest
    docker run -it bbernhard/imagemonkey-train
          </code></pre>
        </div>
        <br>
        This will download and run a docker image where we've already configured tensorflow and MaskRCNN to work seamlessly with ImageMonkey. 
        After you've started the docker container, use the <strong>monkey</strong> script to interact with ImageMonkey dataset. <br><br>

        Here's a list of all available commands:  

        <div class="ui segment">
          <pre><code class="bash">
      root@ecebfa2aea35:/# monkey --help
      usage: PROG [-h] {train,list-labels} ...

      positional arguments:
        {train,list-labels}
        train              train your own model
        list-labels        list all labels that are available at ImageMonkey

        optional arguments:
        -h, --help           show this help message and exit
          </code></pre>
        </div>
        <br><br><br>

        <h1 class="ui header">Example</h1>

        Let's assume you want to train your image classifier on all images that are labeled with dog or cat. 
        Then simply run 

        <div class="ui segment">
          <pre><code class="bash">
      monkey train --labels="cat|dog" --type="image-classification"
          </code></pre>
        </div>
        <br>
        lean back and go get yourself a coffee ;-)
        <br><br>
        The script automatically downloads all ImageMonkey images that are labeled with dog or cat and uses transfer learning to retrain an 
        existing image classifier (inception v3) on these labels.
        <br><br>
        Umm, wait, I don't want to train an image classifier - I rather want to train a neural net that is able to do object segmentation. 
        Nothing easier than that. Simply change the type 

        <div class="ui segment">
          <pre><code class="bash">
      monkey train --labels="cat|dog" --type="object-segmentation"
          </code></pre>
        </div> 
        and MaskRCNN will be used instead. 



        <br><br><br>
        <h1>P.S.</h1>
        In case you want to access ImageMonkey via Python, have a look at our <a href="https://github.com/bbernhard/imagemonkey-libs">Python library</a>. 
        But keep in mind, the library is still in an alpha stage and the API might change at any point!
      </div>
    </div>
  </div>
</div>
{{ template "footer.html" .}}

</body>

</html>