<script src="/js/cookies.min.js"></script>
<script src="/js/settings.js?v=1"></script>

<!-- Following Menu -->
<!-- when changing here, change it also in pointing-menu.html-->
<div class="ui large top fixed hidden menu">
  <div class="ui container">
    <a class="{{if (eq .activeMenuNr 1)}}active {{end}}item" href="/">Home</a>
    <a class="{{if (eq .activeMenuNr 2)}}active {{end}}item" href="/donate">Donate</a>

    <div class="ui dropdown item" id="labelMenuDropdown">
      Label<i class="dropdown icon"></i>
      <div class="menu">
        <div class="header" style="font-size: 15px;">
          Label Object
        </div>
        <div class="center aligned item" onclick="window.location='/label?mode=default';">Default</div>
        <div class="center aligned item" onclick="window.location='/label?mode=browse';">Browse</div>
        <div class="header" style="font-size: 15px;">
          Label Image
        </div>
        <div class="center aligned item" onclick="window.location='/label?type=image&mode=default';">Default</div>
        <div class="center aligned item" onclick="window.location='/label?type=image&mode=browse';">Browse</div>
      </div>
    </div>

    <div class="ui dropdown item" id="annotateMenuDropdown">
      Annotate<i class="dropdown icon"></i>
      <div class="menu">
        <div class="center aligned item" onclick="window.location='/annotate?mode=default';">Default</div>
        <div class="center aligned item" onclick="window.location='/annotate?mode=browse';">Browse</div>
      </div>
    </div>

    <div class="ui dropdown item" id="unifiedModeMenuDropdown">
        Unified Mode<i class="dropdown icon"></i>
        <div class="menu">
            <div class="center aligned item" onclick="window.location='/annotate?mode=default&view=unified';">Default</div>
            <div class="center aligned item" onclick="window.location='/annotate?mode=browse&view=unified';">Browse</div>
        </div>
    </div>

    <div class="ui dropdown item" id="validateMenuDropdown">
      Validate<i class="dropdown icon"></i>
      <div class="menu">
        <div class="header" style="font-size: 15px;">
          Validate Object
        </div>
        <div class="center aligned item" onclick="window.location='/verify?mode=default';">Default</div>
        <div class="center aligned item" onclick="window.location='/verify?mode=browse';">Browse</div>
        <div class="header" style="font-size: 15px;">
          Validate Annotation
        </div>
        <div class="center aligned item" onclick="window.location='/verify_annotation';">Default</div>
      </div>
    </div>

    <div class="ui dropdown item" id="refinementMenuDropdown">
      Refinement<i class="dropdown icon"></i>
      <div class="menu">
        <div class="center aligned item" onclick="window.location='/refine?mode=browse';">Refinement</div>
        <div class="center aligned item" onclick="window.location='/quiz';">Quiz</div>
      </div>
    </div>


    <div class="ui dropdown item" id="datasetMenuDropdown">
      Dataset<i class="dropdown icon"></i>
      <div class="menu">
        <div class="center aligned item" onclick="window.location='/statistics';">Statistics</div>
        <div class="center aligned item" onclick="window.location='/explore';">Explore</div>
        <div class="center aligned item" onclick="window.location='/graph';">Graph</div>
      </div>
    </div>
    
    <div class="ui dropdown item" id="developersMenuDropdown">
      Developers<i class="dropdown icon"></i>
      <div class="menu">
        <div class="center aligned item" onclick="window.location='/libraries';">Libraries</div>
        <div class="center aligned item" onclick="window.location='/models';">Models</div>
      </div>
    </div>

    <a class="{{if (eq .activeMenuNr 10)}}active {{end}}item" href="/apps">Apps</a>
    <a class="{{if (eq .activeMenuNr 11)}}active {{end}}item" href="/playground">Playground</a>
    <a class="item" href="/blog">Blog</a>

    {{if (eq .sessionInformation.LoggedIn false)}}
    <a class="{{if (eq .activeMenuNr 12)}}active {{end}}item" href="/login">Login</a>
    {{ end }}
  </div>
</div>


<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
  <a class="{{if (eq .activeMenuNr 1)}}active {{end}}item" href="/">Home</a>
  <a class="{{if (eq .activeMenuNr 2)}}active {{end}}item" href="/donate">Donate</a>
  <a class="{{if (eq .activeMenuNr 3)}}active {{end}}item" href="/label">Label Object</a>
  <a class="{{if (eq .activeMenuNr 15)}}active {{end}}item" href="/label?type=image">Label Image</a>
  <a class="{{if (eq .activeMenuNr 4)}}active {{end}}item" id="annotationSidebarMenuItem" href="/annotate">Annotate</a>
  <a class="{{if (eq .activeMenuNr 5)}}active {{end}}item" href="/verify">Validate Object</a>
  <a class="{{if (eq .activeMenuNr 6)}}active {{end}}item" href="/verify_annotation">Validate Annotations</a>
  <a class="{{if (eq .activeMenuNr 7)}}active {{end}}item" href="/quiz">Quiz</a>
  <a class="{{if (eq .activeMenuNr 14)}}active {{end}}item" href="/refine?mode=browse">Refinement</a>
  <a class="{{if (eq .activeMenuNr 8)}}active {{end}}item" href="/statistics">Statistics</a>
  <a class="{{if (eq .activeMenuNr 9)}}active {{end}}item" href="/explore">Explore</a>
  <a class="{{if (eq .activeMenuNr 13)}}active {{end}}item" href="/libraries">Libraries</a>
  <a class="{{if (eq .activeMenuNr 16)}}active {{end}}item" href="/models">Models</a>

  <a class="{{if (eq .activeMenuNr 10)}}active {{end}}item" href="/apps">Apps</a>
  <a class="{{if (eq .activeMenuNr 11)}}active {{end}}item" href="/playground">Playground</a>
  <a class="item" href="/blog">Blog</a>
  <a class="{{if (eq .activeMenuNr 12)}}active {{end}}item" href="/login">Login</a>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('#developersMenuDropdown').dropdown();
    $('#datasetMenuDropdown').dropdown();
    $('#refinementMenuDropdown').dropdown();
    $('#labelMenuDropdown').dropdown();
    $('#validateMenuDropdown').dropdown();
    $('#annotateMenuDropdown').dropdown();
    $('#unifiedModeMenuDropdown').dropdown();
  });
</script>
