<!-- Following Menu -->
<!-- when changing here, change it also in pointing-menu.html-->
<div class="ui large top fixed hidden menu">
  <div class="ui container">
    <a class="{{if (eq .activeMenuNr 1)}}active {{end}}item" href="/">Home</a>
    <a class="{{if (eq .activeMenuNr 2)}}active {{end}}item" href="/donate">Donate</a>
    <a class="{{if (eq .activeMenuNr 3)}}active {{end}}item" href="/verify">Validate</a>
    <a class="{{if (eq .activeMenuNr 4)}}active {{end}}item" href="/explore">Explore</a>
    <a class="{{if (eq .activeMenuNr 5)}}active {{end}}item" href="/export">Export</a>
    <a class="item" href="/api">API</a>
    <!--<div class="right menu">
      <div class="item">
        <a class="ui button">Log in</a>
      </div>
      <div class="item">
        <a class="ui primary button">Sign Up</a>
      </div>
    </div>-->
  </div>
</div>


<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
  <a class="{{if (eq .activeMenuNr 1)}}active {{end}}item" href="/">Home</a>
  <a class="{{if (eq .activeMenuNr 2)}}active {{end}}item" href="/donate">Donate</a>
  <a class="{{if (eq .activeMenuNr 3)}}active {{end}}item" href="/verify">Validate</a>
  <a class="{{if (eq .activeMenuNr 4)}}active {{end}}item" href="/explore">Explore</a>
  <a class="{{if (eq .activeMenuNr 5)}}active {{end}}item" href="/export">Export</a>
  <a class="item" href="/api">API</a>
  <!--<a class="item">Login</a>
  <a class="item">Signup</a>-->
</div>