<!DOCTYPE html>
<html>
<head>
  {{ template "favicon.html" .}}
  
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <title>{{ .title }}</title>
  
  <link rel="stylesheet" href="/css/semantic.min.css?v={{ .assetVersion }}"/>
  <script src="/js/jquery.min.js?v={{ .assetVersion }}"></script>
  <script src="/js/semantic.min.js?v={{ .assetVersion }}"></script> 
  <link rel="stylesheet" href="/css/common.css?v={{ .assetVersion }}"/>
  <link rel="stylesheet" href="/css/common_sub.css?v={{ .assetVersion }}"/>
  <script src="/js/common.js?v={{ .assetVersion }}"></script> 
  <link rel="stylesheet" href="/css/common_sub.css?v={{ .assetVersion }}"/>
  <link rel="stylesheet" href="css/spinner/spinners/3-wave.css?v={{ .assetVersion }}"/>
  <script src="js/tablesort/tablesort.js?v={{ .assetVersion }}"></script>

  <script>
    var toBeDiscardedImageDescription = null;

    function lockImageDescription(e) {
      var imageDescriptionUuid = $(e).attr("data-image-description-uuid");
      var imageId = $(e).attr("data-image-id");
      $(e).addClass("disabled");
      $(('#unlock-' + imageDescriptionUuid)).addClass('disabled');

      $.ajax({
        url: '{{ .apiBaseUrl }}/v1/donation/' + imageId + '/description/' + imageDescriptionUuid + '/lock',
        type: 'POST', 
        headers: {'X-Moderation': true},
        beforeSend: function(xhr) {
          xhr.setRequestHeader("Authorization", "Bearer " + getCookie("imagemonkey"))
        },
        success: function(data){
          
        }
      });
    }

    function unlockImageDescription(e) {
      var imageDescriptionUuid = $(e).attr("data-image-description-uuid");
      var imageId = $(e).attr("data-image-id");
      $(e).addClass("disabled");
      $(('#lock-' + imageDescriptionUuid)).addClass('disabled');

      $.ajax({
        url: '{{ .apiBaseUrl }}/v1/donation/' + imageId + '/description/' + imageDescriptionUuid + '/unlock',
        type: 'POST', 
        headers: {'X-Moderation': true},
        beforeSend: function(xhr) {
          xhr.setRequestHeader("Authorization", "Bearer " + getCookie("imagemonkey"))
        },
        success: function(data){
          
        }
      });
    }

    function showImgDescriptionLockConfirmationDlg(e) {
      toBeDiscardedImageDescription = e;
      $("#lockImageDescriptionConfirmationDlg").modal("show");
    }

    function populateLockedImageDescriptionsList(data) {
      if(data.length > 0) {
        var imageDescriptions;
        var elem;
        for(var i = 0; i < data.length; i++) {
          imageDescriptions = data[i].image.descriptions;
          for(var j = 0; j < imageDescriptions.length; j++) {
            elem = $(('<tr>' +
                      '<td>' + escapeHtml(imageDescriptions[j].text) + '</td>' +
                      '<td>' + escapeHtml(imageDescriptions[j].language) + '</td>' +
                      '<td class="right aligned">' +
                        '<div onclick="unlockImageDescription(this);" id="' + 'unlock-' + imageDescriptions[j].uuid + '" data-image-description-uuid="' 
                          + imageDescriptions[j].uuid  + '" data-image-id="' + data[i].image.uuid + '" class="ui green basic button">Unlock</div>' +
                        '<div onclick="showImgDescriptionLockConfirmationDlg(this);" id="' + 'lock-' + imageDescriptions[j].uuid +  '" data-image-description-uuid="' 
                          + imageDescriptions[j].uuid + '" data-image-id="' + data[i].image.uuid + '" class="ui red basic button">Decline</div>' + 
                      '</td>' +
                      '</tr>'));
            $("#lockedImageDescriptionsContent").append(elem);
          }
        }

        $("#unprocessedImageDescriptionsTable").tablesort();
      } 
      else {
        $("#lockedImageDescriptionsContent").append($('<tr><td>No data available</td></tr>'));

      }
      $("#loadingIndicator").hide();
    }

    function getLockedImageDescriptions() {
      $("#loadingIndicator").show();
      $.ajax({
        url: '{{ .apiBaseUrl }}/v1/donations/unprocessed-descriptions',
        type: 'GET', 
        headers: {'X-Moderation': true},
        beforeSend: function(xhr) {
          xhr.setRequestHeader("Authorization", "Bearer " + getCookie("imagemonkey"))
        },
        success: function(data){
          populateLockedImageDescriptionsList(data);
        }

      });
    }

    $(document).ready(function(){
      $("#imageDescriptionModerationInfo").show();
      getLockedImageDescriptions();

      $("#lockImageDescriptionConfirmationDlgYesButton").click(function(e) {
        lockImageDescription(toBeDiscardedImageDescription);
      });
    });
  
  </script>
</head>
<body>

  {{ template "menu.html" .}}

  <!-- Page Contents -->
  <div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">
     {{ template "pointing_menu.html" .}}
     <div class="ui text container">
      <h2 class="ui inverted header">
        Content Moderation
      </h2>
    </div>
  </div>
  <div class="ui stackable center aligned grid vertical stripe">

    <div class="row">
      <div class="eight wide center aligned column">
        <div hidden class="ui info message" id="imageDescriptionModerationInfo">
          <i class="close icon"></i>
          <div class="header">
            Content Moderation Guidelines
          </div>
          <p>Please do <b>not</b> unlock content that can be classified as</p>
          <ul class="list">
            <li>racist</li>
            <li>insulting</li>
            <li>abusive</li>
            <li>advertising</li>
            <li>spam</li>
          </ul>
          Thanks for helping to keep ImageMonkey clean and organized!
        </div>
      </div>
    </div>

    <div class="row" id="loadingIndicator" style="display: none;">
      <div class="sk-wave overlay">
        <div class="sk-rect sk-rect1"></div>
        <div class="sk-rect sk-rect2"></div>
        <div class="sk-rect sk-rect3"></div>
        <div class="sk-rect sk-rect4"></div>
        <div class="sk-rect sk-rect5"></div>
      </div>
    </div>

    <div class="row">
      <div class="four wide center aligned column"></div>
      <div class="eight wide center aligned column">
        <div class="ui segment">
          <table class="ui striped sortable table" id="unprocessedImageDescriptionsTable">
            <thead>
              <tr>
                <th>Description</th>
                <th>Language</th>
                <th class="right aligned"></th>
              </tr>
            </thead>
            <tbody id="lockedImageDescriptionsContent">

            </tbody>
          </table>
        </div>
      </div>
      <div class="four wide center aligned column"></div>
    </div>

    {{ template "lock_image_description_confirmation_dlg.html" . }}


  </div>
</div>

{{ template "footer.html" .}}

</body>

</html>
