<script src="js/cookies.min.js"></script> 

<div class="ui container">
  <div class="ui large secondary inverted pointing menu">
    <a class="toc item">
      <i class="sidebar icon"></i>
    </a>
  <a class="{{if (eq .activeMenuNr 1)}}active {{end}}item" href="/">Home</a>
  <a class="{{if (eq .activeMenuNr 2)}}active {{end}}item" href="/donate">Donate</a>
  <a class="{{if (eq .activeMenuNr 3)}}active {{end}}item" href="/label">Add Labels</a>
  <a class="{{if (eq .activeMenuNr 4)}}active {{end}}item" href="/annotate">Annotate</a>
  <a class="{{if (eq .activeMenuNr 5)}}active {{end}}item" href="/verify">Validate Label</a>
  <a class="{{if (eq .activeMenuNr 6)}}active {{end}}item" href="/verify_annotation">Validate Annotations</a>
  <a class="{{if (eq .activeMenuNr 7)}}active {{end}}item" href="/quiz">Quiz</a>
  <a class="{{if (eq .activeMenuNr 8)}}active {{end}}item" href="/statistics">Statistics</a>
  <a class="{{if (eq .activeMenuNr 9)}}active {{end}}item" href="/explore">Explore</a>
  <a class="item" href="/api">API</a>
  <a class="{{if (eq .activeMenuNr 10)}}active {{end}}item" href="/apps">Apps</a>
  <a class="{{if (eq .activeMenuNr 11)}}active {{end}}item" href="/playground">Playground</a>
  <a class="item" href="/blog">Blog</a>

  {{if (eq .sessionInformation.LoggedIn false)}}
  <a class="{{if (eq .activeMenuNr 12)}}active {{end}}item" href="/login">Login</a>
  {{ else }}
  <div class="ui dropdown item" id="mainMenuDropdown">
    <i class="user icon"></i> {{ .sessionInformation.Username }} <i class="dropdown icon"></i>
    <div class="menu">
      <div class="item" id="mainMenuLogoutButton"><i class="sign out icon"></i>Logout</div>
  </div>
</div>
{{ end }}
</div>
</div>


<script>
  $(document).ready(function(){
    $('#mainMenuDropdown').dropdown();

    function logout(){
      console.log("logout")
      $.ajax({
        type: "POST",
        url: "{{ .apiBaseUrl }}/v1/logout",
        beforeSend: function(xhr) {
          xhr.setRequestHeader("Authorization", "Bearer " + Cookies.get("imagemonkey"))
        },
        success: function(data){
          Cookies.expire("imagemonkey");
          window.location.href = "/"; //redirect to home page
        }
      });
    }

    $('#mainMenuLogoutButton').click(function(e) {
      logout();
    });



  });

</script>