<div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a class="{{if (eq .activeMenuNr 1)}}active {{end}}item" href="/">Home</a>
        <a class="{{if (eq .activeMenuNr 2)}}active {{end}}item" href="/donate">Donate</a>
        <a class="{{if (eq .activeMenuNr 3)}}active {{end}}item" href="/label">Add Labels</a>
        <a class="{{if (eq .activeMenuNr 4)}}active {{end}}item" href="/annotate">Annotate</a>
        <a class="{{if (eq .activeMenuNr 5)}}active {{end}}item" href="/verify">Validate Label</a>
        <a class="{{if (eq .activeMenuNr 6)}}active {{end}}item" href="/verify_annotation">Validate Annotations</a>
        <a class="{{if (eq .activeMenuNr 7)}}active {{end}}item" href="/quiz">Quiz</a>
        <a class="{{if (eq .activeMenuNr 8)}}active {{end}}item" href="/explore">Explore</a>
        <a class="{{if (eq .activeMenuNr 9)}}active {{end}}item" href="/export">Export</a>
        <a class="item" href="/api">API</a>
        <a class="{{if (eq .activeMenuNr 10)}}active {{end}}item" href="/mobile">App</a>
        <a class="{{if (eq .activeMenuNr 11)}}active {{end}}item" href="/playground">Playground</a>
        <a class="item" href="/blog">Blog</a>
      </div>
    </div>