<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <title>{{ .title }}</title>
  
  <link rel="stylesheet" href="css/semantic.min.css"/>
  <script src="js/jquery.min.js"></script>
  <script src="js/semantic.min.js"></script> 
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="css/common.css"/>
  <link rel="stylesheet" href="css/common_sub.css"/>
  <script src="js/common.js"></script> 
  <script src="js/fabric.min.js"></script>
  <script src="js/fabric_helper.js?v=2"></script>
  <script src="js/fingerprint2.min.js"></script>

  <style>
    .canvas-container{margin: 0 auto;}
  </style>

  <script type="text/javascript">
    var currentControlsType = null;

    function showHideControls(show){
      if(show){
        $('#canvas').show();
        $('#doneButton').show();
        $('#quizAreaContainer').show();
        $('#loadingIndicator').addClass('active');
        $('#loadingIndicator').hide();
        $('#answersOtherContainer').hide();
      }
      else{
        $('#canvas').hide();
        $('#doneButton').hide();
        $('#quizAreaContainer').hide();
        $('#loadingIndicator').removeClass('active');
        $('#loadingIndicator').show();
        $('#answersOtherContainer').hide();
      }
    }


    function setIds(imageId, annotationId, annotationDataId){
      $('#canvas').attr('imageId', imageId);
      $('#canvas').attr('annotationId', annotationId);
      $('#canvas').attr('annotationDataId', annotationDataId);
    }

    function getSelectedLabelId(){
      var labelId;
      if(currentControlsType === "radio")
        labelId = $('#answersRadioButtonGroup :radio:checked').attr('labelId');
      else if(currentControlsType === "dropdown")
        labelId = $('#labelDropdown' ).dropdown('get value').toString();

      return parseInt(labelId, 10);
    }

    function setImageAnnotation(canvas, imageUuid, annotation){
      canvas.clear();
      setCanvasBackgroundImageUrl(canvas, ('donations/' + imageUuid), function() {
        drawAnnotations(canvas, [annotation], canvas.backgroundImage.scaleX);
        showHideControls(true);
      });
    }

    function getNextQuiz(canvas){
      $.ajax({
        url: '{{ .apiBaseUrl }}/v1/annotation/refine',
        dataType: 'json',
        type: 'GET',
        complete: function(data){
        },
        success: function(data){
          populate(canvas, data);
        }
      });
    }

    var removeAllAnswers = function(controlsType){
      if(controlsType == "radio"){
        $('#answersRadioButtonGroup').children().each(function (){
          $(this).remove();
        })
      }
      else if(controlsType === "dropdown"){
        $('#labelMenuItems').children().each(function (){
          $(this).remove();
        })
      }

      $('#answersOtherContainer').children().each(function (){
        $(this).remove();
      })
    }

    function showControl(controlsType){
      if(controlsType === "radio"){
        console.log("controls type = " +controlsType)
        $("#labelRadioButtons").show();
        $("#labelDropdown").hide();
      }
      else if(controlsType === "dropdown"){
        console.log("controls type = " +controlsType)
        $("#labelDropdown").show();
        $("#labelRadioButtons").hide();
      }

      currentControlsType = controlsType;
    }

    var addAnswers = function(answers, controlsType){
      var allowOther = false;
      if(controlsType === "radio"){
        for(var i = 0; i < answers.length; i++){
          var d = '<div class="field"><div class="ui radio checkbox"><input type="radio" name="quiz" labelId="' + answers[i]["id"] + '"><label>' + answers[i]["label"] + '</label></div></div>';
          $('#answersRadioButtonGroup').append($(d));
          if(answers[i]["id"] === -2 ){ //id -2 has a special meaning
            allowOther = true;
          }
        }       
      }
      else if(controlsType === "dropdown"){
        for(var i = 0; i < answers.length; i++){
          var d = '<div class="item" data-value="' + answers[i]["id"] + '">' + answers[i]["label"] + '</div>';
          $('#labelMenuItems').append($(d));
          if(answers[i]["id"] === -2 ){ //id -2 has a special meaning
              allowOther = true;
          }
        }
      }

      if(allowOther){
          var otherInput = '<div class="ui input"><input id="suggestedLabel" placeholder="Label..." type="text"></div>';
          $('#answersOtherContainer').append($(otherInput));
        } 
    }


    function populate(canvas, data) {
      showControl(data["question"]["recommended_control"]);
      setIds(data["image"]["uuid"], data["annotation"]["uuid"], data["annotation"]["annotation"]["id"]);
      removeAllAnswers(data["question"]["recommended_control"]);
      addAnswers(data["answers"], data["question"]["recommended_control"]);
      setImageAnnotation(canvas, data["image"]["uuid"], data["annotation"]["annotation"]);
      $("#question").text(data["question"]["question"]);
    }


    $(document).ready(function(){
      $('.ui.dropdown').dropdown();
      $('.ui.checkbox').checkbox();
      showControl('{{ .randomAnnotatedImage.Question.RecommendedControl }}');

      $('#answersRadioButtonGroup').on("change", function(event){
        if(event.target.getAttribute("labelId") == -2)
          $("#answersOtherContainer").show();
        else
          $("#answersOtherContainer").hide();
      });

      var browserFingerprint = null;

      var canvas = new fabric.Canvas('canvas');
      populate(canvas, {{ .randomAnnotatedImage }})
      

      new Fingerprint2().get(function(result, components){
        browserFingerprint = result;
      });

      $('#doneButton').click(function(e) {
        var labelId = getSelectedLabelId();
        if(isNaN(labelId)){
          $('#nothingSelectedMessage').show(200).delay(1500).hide(200);
        }
        else{
          var url, data;
          var headers = {}
          if(browserFingerprint !== null)
            headers['X-Browser-Fingerprint'] = browserFingerprint;

          if (labelId === -1){ //if "don't know" is selected, just get a new quiz
            getNextQuiz(canvas);
          }
          else if(labelId == -2){ //if "other is selected"
            url = '{{ .apiBaseUrl }}/v1/label/suggest';
            data = {"label" : $("#suggestedLabel").val()};

            showHideControls(false);

            e.preventDefault();
            $.ajax({
              url: url,
              dataType: 'json',
              type: 'POST',
              data: JSON.stringify(data),
              headers: headers,
              complete: function(data){
              },
              success: function(data){
                getNextQuiz(canvas);
              }
            });
          }
          else{
            url = '{{ .apiBaseUrl }}/v1/annotation/' + $("#canvas").attr("annotationId") + "/refine/" + $("#canvas").attr("annotationDataId");
            data = {"label_id" : labelId};

            showHideControls(false);

            e.preventDefault();
            $.ajax({
              url: url,
              dataType: 'json',
              type: 'POST',
              data: JSON.stringify(data),
              headers: headers,
              complete: function(data){
              },
              success: function(data){
                getNextQuiz(canvas);
              }
            });
          }
        }
      });

    });
  </script>
</head>
<body>

  {{ template "menu.html" .}}

  <!-- Page Contents -->
  <div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">
      {{ template "pointing_menu.html" .}}
      <div class="ui text container">
       <h2 class="ui inverted header">Quiz</h2>
     </div>
   </div>

   <div class="ui stackable grid vertical stripe mobile reversed">

    <div class="one wide center aligned column">
    </div>
    <div class="three wide center aligned column" id="quizArea">
      <div class="quizAreaContainer">
        <h1></h1>
          
        <div class="ui left aligned segment">
          <h2 class="ui header" id="question">{{ .randomAnnotatedImage.Question.Question }}</h2>
        
        

          <div class="ui search selection dropdown" id="labelDropdown">
            <div class="default text">Select Label</div>
            <div class="menu" id="labelMenuItems">
              {{ range .randomAnnotatedImage.Answers }}
              <div class="item" data-value="{{ .Id }}">{{ .Label }}</div>
              {{ end }}
            </div>
          </div>


          
          <div class="ui form" id="labelRadioButtons">
            <div class="grouped fields" id="answersRadioButtonGroup">
            </div>
            <div hidden id="answersOtherContainer">
            </div>
          </div>

          <div class="ui warning message" hidden id="nothingSelectedMessage">
            <i class="close icon"></i>
            <div class="header">
              Please answer the question first.
            </div>
          </div>
          <h2></h2>
          <button class="ui positive button" id="doneButton">Done</button>

        </div>
      </div>


    </div>

    <div class="eight wide center aligned column">
      <canvas id="canvas" style="border:1px solid #000000;" imageId="{{ .randomAnnotatedImage.Image.Uuid }}" annotationId="" annotationDataId=""></canvas> 
      <div class="ui large loader" id="loadingIndicator"></div>
    </div>

    <div class="four wide computer only center aligned column">
      {{ template "img_info.html" .}}
    </div>
  </div>


</div>
{{ template "footer.html" .}}

</body>

</html>