<!DOCTYPE html>
<html>
<head>
  {{ template "favicon.html" .}}
  
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <title>{{ .title }}</title>
  
  <link rel="stylesheet" href="css/semantic.min.css"/>
  <script src="js/jquery.min.js"></script>
  <script src="js/semantic.min.js"></script> 
  <link rel="stylesheet" href="css/common.css"/>
  <link rel="stylesheet" href="css/common_sub.css"/>
  <script src="js/common.js"></script> 
  <script src="js/fabric.min.js"></script>
  <script src="js/fabric_helper.js?v=2"></script>
  <script src="js/fingerprint2.min.js"></script>

  <style>
    .canvas-container{
      margin: 0 auto;
    }
  </style>

  <script type="text/javascript">
    var currentControlsType = null;
    var currentSelectedColorTags = [];
    var multiselect = false;

    function showHideControls(show){
      if(show){
        $('#canvas').show();
        $('#doneButton').show();
        $('#quizAreaContainer').show();
        $('#loadingIndicator').addClass('active');
        $('#loadingIndicator').hide();
        $('#answersOtherContainer').hide();
      }
      else{
        $('#canvas').hide();
        $('#doneButton').hide();
        $('#quizAreaContainer').hide();
        $('#loadingIndicator').removeClass('active');
        $('#loadingIndicator').show();
        $('#answersOtherContainer').hide();
      }
    }


    function setIds(imageId, annotationId, annotationDataId){
      $('#canvas').attr('imageId', imageId);
      $('#canvas').attr('annotationId', annotationId);
      $('#canvas').attr('annotationDataId', annotationDataId);
    }

    function getSelectedLabelIds(){
      var labelIdStr = "";
      var labelIds = [];
      if(currentControlsType === "radio"){
        labelIdStr = $('#answersRadioButtonGroup :radio:checked').attr('labelId');
        labelIds.push(labelIdStr);
      }
      else if(currentControlsType === "dropdown"){
        labelIdStr = $('#labelDropdown' ).dropdown('get value').toString();
        labelIds.push(labelIdStr);
      }
      else if(currentControlsType === "color tags"){
        labelIds = currentSelectedColorTags;
      }

      return labelIds;
    }

    function setImageAnnotation(canvas, imageUuid, annotation){
      canvas.clear();
      setCanvasBackgroundImageUrl(canvas, ('{{ .apiBaseUrl }}/v1/donation/' + imageUuid), function() {
        drawAnnotations(canvas, [annotation], canvas.backgroundImage.scaleX);
        showHideControls(true);
      });
    }

    function getNextQuiz(canvas){
      $.ajax({
        url: '{{ .apiBaseUrl }}/v1/quiz-refine',
        dataType: 'json',
        type: 'GET',
        complete: function(data){
        },
        success: function(data){
          populate(canvas, data);
        }
      });
    }

    var removeAllAnswers = function(controlsType){
      if(controlsType == "radio"){
        $('#answersRadioButtonGroup').children().each(function (){
          $(this).remove();
        })
      }
      else if(controlsType === "dropdown"){
        $('#labelMenuItems').children().each(function (){
          $(this).remove();
        })
      }
      else if(controlsType === "color tags"){
        $('#colorTags').children().each(function (){
          $(this).remove();
        })
      }

      $('#answersOtherContainer').children().each(function (){
        $(this).remove();
      })
    }

    function showControl(controlsType){
      if(controlsType === "radio"){
        $("#labelRadioButtons").show();
        $("#labelDropdown").hide();
        $("#colorTags").hide();
      }
      else if(controlsType === "dropdown"){
        $("#labelDropdown").show();
        $("#labelRadioButtons").hide();
        $("#colorTags").hide();
      }
      else if(controlsType === "color tags"){
        $("#colorTags").show();
        $("#labelDropdown").hide();
        $("#labelRadioButtons").hide();
      }

      currentControlsType = controlsType;
    }

    function showHideBrowseByExample(browseByExample){
      if(browseByExample){
        $("#browseByExampleContainer").show();
      }
      else{
        $("#browseByExampleContainer").hide();
      }
    }

    function showHideMultiSelectInfo(){
      if(multiselect){
        $("#multiSelectInfo").show();
      }
      else{
        $("#multiSelectInfo").hide();
      }
    }

    var colorTagSelected = function(e){
      var currentSelectedColorTag = $(e).attr("labelId");

      //check if we already have 'don't know' or 'other' selected;
      //if so, clear all selected
      var clearMe = false;
      for(var j = 0; j < currentSelectedColorTags.length; j++){
        if(currentSelectedColorTags[j] < 0){
          clearMe = true;
          break;
        }
      }


      //clear other labels when not in multiselect mode 
      //or when 'don't know' or 'other' is selected 
      if(!multiselect || (currentSelectedColorTag < 0) || clearMe){
        currentSelectedColorTags = [];
        $('#colorTags').children().each(function (){
          if($(this).attr("labelId") !== $(e).attr("labelId"))
            $(this).removeClass('big');
          else{
            $(this).addClass('big');
          }
        })
        currentSelectedColorTags.push(currentSelectedColorTag);
      }
      else{
        var addMe = true;
        for(var i = 0; i < currentSelectedColorTags.length; i++){
          if(currentSelectedColorTag === currentSelectedColorTags[i]){
            $(e).removeClass('big');
            currentSelectedColorTags.splice(i, 1);
            addMe = false;
            break;
          }
        }

        if(addMe){
          $(e).addClass('big');
          currentSelectedColorTags.push(currentSelectedColorTag);
        }
      }
  
      if(currentSelectedColorTag === "-2"){
        $("#answersOtherContainer").show();
      }
      else
        $("#answersOtherContainer").hide();
    } 

    var addAnswers = function(allowOther, allowUnknown, answers, controlsType){
      if(controlsType === "radio"){
        for(var i = 0; i < answers.length; i++){
          var d = '<div class="field"><div class="ui radio checkbox"><input type="radio" name="quiz" labelId="' + answers[i]["uuid"] + '"><label>' + answers[i]["label"] + '</label></div></div>';
          $('#answersRadioButtonGroup').append($(d));
        }
        if(allowOther){
          var d = '<div class="field"><div class="ui radio checkbox"><input type="radio" name="quiz" labelId="-2"><label>other</label></div></div>';
          $('#answersRadioButtonGroup').append($(d));
        }
        if(allowUnknown){
          var d = '<div class="field"><div class="ui radio checkbox"><input type="radio" name="quiz" labelId="-1"><label>don\'t know</label></div></div>';
          $('#answersRadioButtonGroup').append($(d));
        }

      }
      else if(controlsType === "dropdown"){
        for(var i = 0; i < answers.length; i++){
          var d = '<div class="item" data-value="' + answers[i]["uuid"] + '">' + answers[i]["label"] + '</div>';
          $('#labelMenuItems').append($(d));
        }
        if(allowOther){
          var d = '<div class="item" data-value="-2">other</div>';
          $('#labelMenuItems').append($(d));
        }
        if(allowUnknown){
          var d = '<div class="item" data-value="-1">don\'t know</div>';
          $('#labelMenuItems').append($(d));
        }
      }
      else if(controlsType === "color tags"){
        for(var i = 0; i < answers.length; i++){
          var color = answers[i]["label"];
          var isBasic = false;

          if(answers[i]["label"] === "white")
            isBasic = true;

          var d = '<a class="ui ' + ((isBasic) ? "basic " : " ") +  answers[i]["label"] + ' label" labelId="' + answers[i]["uuid"] + '" onclick="colorTagSelected(this)">' + answers[i]["label"] + '</a>';
          $('#colorTags').append($(d));
        }

        if(allowOther){
          var d = '<a class="ui basic label" labelId="-2" onclick="colorTagSelected(this)">other</a>';
          $('#colorTags').append($(d));
        }
        if(allowUnknown){
          var d = '<a class="ui basic label" labelId="-1" onclick="colorTagSelected(this)">don\'t know</a>';
          $('#colorTags').append($(d));
        }
      }

      if(allowOther){
          var otherInput = '<div class="ui input"><input id="suggestedLabel" placeholder="Label..." type="text"></div>';
          $('#answersOtherContainer').append($(otherInput));
        } 
    }


    function populate(canvas, data) {
      showControl(data["question"]["recommended_control"]);

      multiselect = data["metainfo"]["multiselect"];
      showHideMultiSelectInfo();

      $("#labelDropdown").dropdown('restore defaults');
      resetExamples();
      if(data["metainfo"]["browse_by_example"]){
          showHideBrowseByExample(true);
          populateExamples(data["question"]["question"], ('{{ .apiBaseUrl }}/v1/donation/' + data["image"]["uuid"]), data["answers"], data["metainfo"]);
      }
      else{
        showHideBrowseByExample(false);
      }

      setIds(data["image"]["uuid"], data["annotation"]["uuid"], data["annotation"]["annotation"]["uuid"]);
      removeAllAnswers(data["question"]["recommended_control"]);
      addAnswers(data["metainfo"]["allow_other"], data["metainfo"]["allow_unknown"], data["answers"], data["question"]["recommended_control"]);
      setImageAnnotation(canvas, data["image"]["uuid"], data["annotation"]["annotation"]);
      $("#question").text(data["question"]["question"]);
    }

    $(document).ready(function(){
      $('#labelDropdown').dropdown({ 
        onChange: function(changedValue){ 
          if(changedValue === "-2")
            $("#answersOtherContainer").show();
          else
            $("#answersOtherContainer").hide();
        } 
      });

      $('.ui.checkbox').checkbox();
      var recommendedControl = '{{ .randomAnnotatedImage.Question.RecommendedControl }}';
      showControl(recommendedControl);


      $('#answersRadioButtonGroup').on("change", function(event){
        if(event.target.getAttribute("labelId") == "-2")
          $("#answersOtherContainer").show();
        else
          $("#answersOtherContainer").hide();
      });

      $("#browseByExampleButton").click(function(e) {
        $('#browseByExampleDlg').modal('setting', { 
            detachable:false ,
            onApprove: function (e) {
              if($(e).attr("id") === "doneBrowseByExampleButton"){
                $('#labelDropdown').dropdown('set selected', $("#browseByExampleDlg").attr("currentSelectedLabelId"));
              }
            }

          }).modal('show');
      });

      var browserFingerprint = null;

      var canvas = new fabric.Canvas('canvas');
      populate(canvas, {{ .randomAnnotatedImage }})

      new Fingerprint2().get(function(result, components){
        browserFingerprint = result;
      });

      $('#doneButton').click(function(e) {
        var labelIds = getSelectedLabelIds();
        if(labelIds.length === 0){
          $('#nothingSelectedMessage').show(200).delay(1500).hide(200);
        }
        else{
          var url;
          var data = [];
          var headers = {}
          if(browserFingerprint !== null)
            headers['X-Browser-Fingerprint'] = browserFingerprint;

          if(labelIds[0] === "-1"){ //if "don't know" is selected, just get a new quiz
            getNextQuiz(canvas);
          }
          else if(labelIds[0] === "-2"){ //if "other is selected"
            var suggestedLabel = $("#suggestedLabel").val();
            if(suggestedLabel === ""){
              $('#nothingSelectedMessage').show(200).delay(1500).hide(200);
              return;
            }
            url = '{{ .apiBaseUrl }}/v1/label/suggest';

            showHideControls(false);

            e.preventDefault();
            $.ajax({
              url: url,
              dataType: 'json',
              type: 'POST',
              data: JSON.stringify({"label" : suggestedLabel}),
              headers: headers,
              complete: function(data){
              },
              success: function(data){
                getNextQuiz(canvas);
              }
            });
          }
          else{
            url = '{{ .apiBaseUrl }}/v1/annotation/' + $("#canvas").attr("annotationId") + "/refine/" + $("#canvas").attr("annotationDataId");
            
            for(var i = 0; i < labelIds.length; i++)
              data.push({"label_uuid" : labelIds[i]});

            showHideControls(false);

            e.preventDefault();
            $.ajax({
              url: url,
              dataType: 'json',
              type: 'POST',
              data: JSON.stringify(data),
              headers: headers,
              complete: function(data){
              },
              success: function(data){
                getNextQuiz(canvas);
              }
            });
          }
        }
      });

    });
  </script>
</head>
<body>

  {{ template "menu.html" .}}

  <!-- Page Contents -->
  <div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">
      {{ template "pointing_menu.html" .}}
      <div class="ui text container">
       <h2 class="ui inverted header">Quiz</h2>
     </div>
   </div>

   <div class="ui stackable grid vertical stripe mobile reversed">

    <div class="one wide center aligned column">
    </div>
    <div class="three wide center aligned column" id="quizArea">
      <div class="quizAreaContainer">
        <h1></h1>
          
        <div class="ui left aligned segment">
          <h2 class="ui header" id="question">{{ .randomAnnotatedImage.Question.Question }}</h2>
        
        
          <!--dropdown buttons-->
          <div class="ui action input">
            <div hidden class="ui search selection dropdown" id="labelDropdown">
              <div class="default text">Select Label</div>
              <div class="menu" id="labelMenuItems">
              </div>
            </div>
            <div hidden id="browseByExampleContainer">
              <button class="ui icon button" id="browseByExampleButton"><i class="pointing up icon"></i></button>
            </div>
          </div>
          
          <!--radio buttons-->
          <div hidden class="ui form" id="labelRadioButtons">
            <div class="grouped fields" id="answersRadioButtonGroup">
            </div>
          </div>

          <!-- color tags -->
          <div hidden class="ui labels" id="colorTags">
          </div>

          <h2></h2>
          <div hidden id="answersOtherContainer">
          </div>

          

          {{ template "browse_by_example_dlg.html" .}}


          <div class="ui warning message" hidden id="nothingSelectedMessage">
            <i class="close icon"></i>
            <div class="header">
              Please answer the question first.
            </div>
          </div>
          <p hidden id="multiSelectInfo" style="font-size:12px">multiple selection possible</p>
          <h2></h2>
          <button class="ui positive button" id="doneButton">Done</button>

        </div>
      </div>


    </div>

    <div class="eight wide center aligned column">
      <canvas id="canvas" style="border:1px solid #000000;" imageId="{{ .randomAnnotatedImage.Image.Uuid }}" annotationId="" annotationDataId=""></canvas> 
      <div class="ui large loader" id="loadingIndicator"></div>

      {{ template "report_dlg.html" .}}
    </div>

    <div class="four wide computer only center aligned column">
      {{ template "img_info.html" .}}
    </div>
  </div>


</div>
{{ template "footer.html" .}}

</body>

</html>