<!DOCTYPE html>
<html>
<head>
  {{ template "favicon.html" .}}
  
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <title>{{ .title }}</title>
  
  <link rel="stylesheet" href="css/semantic.min.css?v={{ .assetVersion }}"/>
  <script src="js/jquery.min.js?v={{ .assetVersion }}"></script>
  <script src="js/jquery-ui.min.js?v={{ .assetVersion }}"></script>
  <link rel="stylesheet" href="css/jquery-ui.css?v={{ .assetVersion }}">
  <script src="js/semantic.min.js?v={{ .assetVersion }}"></script> 
  <link rel="stylesheet" href="css/common.css?v={{ .assetVersion }}"/>
  <link rel="stylesheet" href="css/common_sub.css?v={{ .assetVersion }}"/>
  <script src="js/common.js?v={{ .assetVersion }}"></script> 
  <script src="js/dropzone.js?v={{ .assetVersion }}"></script>
  <link rel="stylesheet" href="css/dropzone.css?v={{ .assetVersion }}">

  <script src="js/mousetrap.min.js?v={{ .assetVersion }}"></script>
  <script src="js/fingerprint2.min.js?v={{ .assetVersion }}"></script>
  <script src="js/chart.bundle.min.js?v={{ .assetVersion }}"></script>
  <script src="js/poll.js?v={{ .assetVersion }}"></script>
  <script src="js/justified-layout.min.js?v={{ .assetVersion }}"></script>
  <script src="js/infinitescroll.js?v={{ .assetVersion }}"></script>
  <link rel="stylesheet" href="css/balloon/balloon.min.css?v={{ .assetVersion }}">
  <link rel="stylesheet" href="css/spinner/spinners/3-wave.css?v={{ .assetVersion }}"/>
  <script src="js/imagemonkey/misc/autocompletion.js?v={{ .assetVersion }}"></script>

  <style>
  #validateDoneButton{
    /*display: none;*/ /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    /*right: 30px;*/ /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    left: 50%;
    transform: translate(-50%, -50%);
  }
  </style>

  <script type="text/javascript">

  function getNextImage(validationId) {
    showHideControls(false, false);
    $("#image").attr("src", ""); //clear image

    var url = "{{ .apiBaseUrl }}/v1/validation";

    if(validationId !== "")
      url += "?validation_id=" + validationId;

    $.ajax({
      url: url,
      dataType: 'json',
      type: 'GET',
      beforeSend: function(xhr) {
        xhr.setRequestHeader("Authorization", "Bearer " + getCookie("imagemonkey"))
      },
      success: function(data){
        $("#image").attr("imageId", data.image.uuid);
        $("#image").attr("validationId", data.uuid);
        setLabel(data.label, data.sublabel);
        setPollData(data["num_yes"], data["num_no"]);

        var downloadingImage = new Image();
        downloadingImage.onload = function(){
          $("#image").attr("src", this.src);
          showHideControls(true, data.image.unlocked);
          $("#fullscreenDlgContentImage").attr("src", this.src);
        }

        var token = getCookie("imagemonkey");
        if(token === "")
          downloadingImage.src = data.image.url;
        else{
          if(data.image.unlocked)
            downloadingImage.src = data.image.url;
          else //only provide token, if resource is still locked (important as we are using a Content Delivery Network and the /donation endpoint is cached)
            downloadingImage.src = data.image.url + "?token=" + token;
        }
      }
    });
  }

  function setLabel(label, sublabel) {
    $("#label").attr("label", label)
    $("#label").attr("sublabel", sublabel)
    if(sublabel === "") {
      $("#label").text(label)
    } 
    else {
      $("#label").text((sublabel + "/" + label))
    }
  }

  function showHideControls(show, imageUnlocked) {
    if(show){
      $('#validationContainerSegment').show();
      $('#loadingIndicator').hide();

      if(isPollDataEmpty()){ //only show poll button if there is actual data available
        $('#showMePollButton').hide();
      }
      else
        $('#showMePollButton').show();
        
      $('#image').show();

      if(imageUnlocked)
        $('#imageLockedLabel').hide();
      else
        $('#imageLockedLabel').show();

      $('#mainArea').show();
      $("#gotoModeContainer").show();
    }
    else {
      $('#poll-chart').hide();
      $('#validationContainerSegment').hide();
      $('#showMePollButton').hide();
      $('#image').hide();
      $('#imageLockedLabel').hide();
      $('#loadingIndicator').show();
      $('#mainArea').hide();
      $("#gotoModeContainer").hide();
    }
  }

  $(document).ready(function(){
    var browserFingerprint = null;

    $('#imageClick').click( function(e) {
      e.preventDefault();
      $("#showImageFullscreenDlg").modal("show"); 
      return false; 
    });

    $('#closeImageFullscreenDlgButton').click( function(e) {
      e.preventDefault();
      $("#showImageFullscreenDlg").modal("hide");
      return false;
    });


    $("#showMePollButton").click(function(e) {
      createPoll();
      showHidePoll(true);
      $("#showMePollButton").hide();
    });



    $("#yesButton").add('#noButton').click(function(e) {
      var action = (e.target.id === "yesButton") ? "yes" : "no";

      var headers = {}
      if(browserFingerprint !== null)
        headers['X-Browser-Fingerprint'] = browserFingerprint;

      headers['X-App-Identifier'] = '{{ .appIdentifier }}';

      showHideControls(false, false);
      showHidePoll(false);

      e.preventDefault();
      var url = '{{ .apiBaseUrl }}/v1/validation/' + $("#image").attr("validationId") + '/validate/' + action;
      $.ajax({
        url: url,
        dataType: 'json',
        type: 'POST',
        headers: headers,
        beforeSend: function(xhr) {
            xhr.setRequestHeader("Authorization", "Bearer " + getCookie("imagemonkey"))
        },
        success: function(data){
          {{ if .onlyOnce }}
          $("#loadingIndicator").hide();
          $("#yesButton").hide();
          $("#noButton").hide();
          $("#image").attr("src", "");
          $("#label").hide();
          $("#validationContainer").show();
          $("#thankYouMessage").fadeIn("slow");
          {{ else }}
          getNextImage("");
          {{ end }}

          {{ if .callback }}
          parent.postMessage("done button pressed", '*');
          {{ end }}
        }
      });
    });

    {{ if eq .mode "default" }}
    getNextImage({{ .validationId }});
    {{ end }}

    try {
      //can fail in case someone uses uBlock origin or Co.
      new Fingerprint2().get(function(result, components){
        browserFingerprint = result;
      });
    } catch(e) {
    }

  });
</script>
</head>
<body>

  {{ template "menu.html" .}}

  <!-- Page Contents -->
  <div class="pusher">
    {{ if .showHeader }} 
    <div class="ui inverted vertical masthead center aligned segment">
      {{ template "pointing_menu.html" .}}
      <div class="ui text container">
       <h2 class="ui inverted header">What do you see?</h2>
       <div style="display: none;" class="ui red bottom right attached label" id="imageLockedLabel">IMAGE LOCKED</div>
     </div>
   </div>
   {{ else }}
    <!--in case header of no header, include it here-->
      <script src="/js/cookies.min.js?v={{ .assetVersion }}"></script>
   {{ end }}

   <div class="ui stackable grid">
    {{ if eq .mode "browse" }}
    {{ template "validate_browse_select_mode.html" .}}
    {{ end }}

    {{ if .showSettings }}
    {{ template "goto_mode.html" dict "validation" 0 "annotation" 1 "labeling" 1 "currentScreen" "validation" "visible" false}}
    {{ end }}

    <div class="row" id="loadingIndicator" style="display: none;">
      <div class="sk-wave overlay">
        <div class="sk-rect sk-rect1"></div>
        <div class="sk-rect sk-rect2"></div>
        <div class="sk-rect sk-rect3"></div>
        <div class="sk-rect sk-rect4"></div>
        <div class="sk-rect sk-rect5"></div>
      </div>
    </div>

    <div class="row" id="mainArea" style="display: none;">
      <div class="four wide column">
      </div>
      <div class="eight wide center aligned column" id="validationContainer">
        <a href="#" id="imageClick">
          <img class="ui large image centered" src="" imageId = "" validationId="" id="image">
        </a>
        <div class="ui center aligned basic segment" id="validationContainerSegment">
          <h1 class="ui header" id="label" label="" sublabel=""></h1>
          <button class="negative ui button center aligned" id="noButton">NO</button>
          <button class="positive ui button center aligned" id="yesButton">YES</button>
        </div>

        <div hidden id="thankYouMessage">
          <i class="massive check circle outline icon"></i>
          <h1 class="ui header">Thank you!</h1>
        </div>

        {{ template "validate_help_dlg.html" .}}
        {{ template "report_dlg.html" .}}
        {{ if .showSettings }}
        {{ template "goto_labels_dlg.html" dict "validation" 0 "annotation" 1  "apiBaseUrl" .apiBaseUrl "imageIdentifier" "#image" "currentScreen" "labeling" "type" ""}}
        {{ end }}
      </div>

      <div class="four wide center aligned column">
        {{ template "img_info.html" .}}
        <h3></h3>
        <button class="ui button center aligned" id="showMePollButton" hidden>
          <i class="pie chart icon"></i>
          What other people are thinking
        </button>
        <canvas id="poll-chart" hidden/>
      </div>
    </div>

    <div class="ui modal" id="confirmNoValidDlg">
      <div class="ui header">
        Confirmation
      </div>
      <div class="content" id="confirmNoValidDlgContent">
      </div>
      <div class="actions">
        <div class="ui red cancel inverted button" id="confirmNoValidCancelButton">
          <i class="remove icon"></i>
          Cancel
        </div>
        <div class="ui green ok inverted button" id="confirmNoValidOkButton">
          <i class="checkmark icon"></i>
          Yes
        </div>
      </div>
    </div>

    <div class="ui basic scrolling fullscreen modal" id="showImageFullscreenDlg">
      <div class="ui right floated inverted basic button" id="closeImageFullscreenDlgButton">
        <i class="icon close"></i>
        Close
      </div>
      <div class="image content" id="showImageFullscreenDlgContent">
        <img class="ui centered image" id="fullscreenDlgContentImage" src="">
      </div>
    </div>

  </div>
</div>
{{ if .showFooter }} 
{{ template "footer.html" .}}
{{ end }}

</body>

</html>
