<html>
<head> 
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css"/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>	
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

	<style>
	body {
		padding: 20px;
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
	}
	</style>
</head>

<body>
	<div class="ui one column stackable center aligned page grid">
	    <div class="column twelve wide">
			<img class="ui fluid image" src="{{ .randomImageUrl }}">
		</div>
	</div>
</body>

</html>