<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <title>{{ .title }}</title>
  
  <link rel="stylesheet" href="css/semantic.min.css"/>
  <script src="js/jquery.min.js"></script>
  <script src="js/semantic.min.js"></script> 
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="css/common.css"/>
  <link rel="stylesheet" href="css/common_sub.css"/>
  <script src="js/common.js"></script> 
  <script src="js/dropzone.js"></script>
  <link rel="stylesheet" href="css/dropzone.css">

  <link rel="stylesheet" href="css/justifiedGallery.css">
  <script src="js/justifiedGallery.min.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="js/mousetrap.min.js"></script>
  <script src="js/fingerprint2.min.js"></script>


  <style>
  #imageGrid .ui-selecting { border: 2px dashed #ff0000; }
  #imageGrid .ui-selected { border: 2px solid #ff0000; }
  </style>

  <script type="text/javascript">
  //global image validation map that holds if a image is marked as valid or not
  var imageValidationMapping = {};

  function populateImageGrid(data){
    imageValidationMapping = {};
    $('#imageGrid').justifiedGallery('destroy');
    $('#imageGrid').html(''); //clear all images inside imageGrid (unfortunately the 'destroy' doesn't do that automatically)
    $('#multiValidateDoneButton').hide();
    $('#multivalidationLabel').hide();
    $('#multiValidationInfoText').hide();

    var donations = data["donations"];
    for(var i = 0; i < donations.length; i++){
      var imageEndpoint = "donations/" + donations[i].uuid;
      $('#imageGrid').append('<div class="img-container">' +
        '<img src="' + imageEndpoint + '" imageId="' + donations[i].uuid + '" />' + 
        '</div>');

      //we just loaded some images, so no image is marked as valid yet
      imageValidationMapping[donations[i].uuid] = false;
    }

    $("#multivalidationLabel").text(data.label);

    $("#imageGrid").justifiedGallery({
      margins: 5,
      rowHeight: 150,
      lastRow: 'center'
    });
  }

  function isMultiValidationMode(){
    if($("#multiValidationContainer").is(":visible"))
      return true;
    return false;
  }

  function getRandomImages(){
    var multiValidationMode = isMultiValidationMode();
    var url = "{{ .apiBaseUrl }}/v1/validate?limit=" + (multiValidationMode ? 8 : 1) + "&grouped=" + (multiValidationMode ? "true" : "false");

    $.ajax({
      url: url,
      dataType: 'json',
      type: 'GET',
      success: function(data){
        if(multiValidationMode){
          populateImageGrid(data);
        }
        else{
          $("#image").attr("imageId", data.uuid);
          $("#image").attr("src", ("donations/"+data.uuid));
          setLabel(data.label, data.sublabel);
        }
      }
    });
  }

  function multiValidate(data, browserFingerprint){
    var headers = {}
    if(browserFingerprint !== null)
      headers['X-Browser-Fingerprint'] = browserFingerprint;

    $.ajax({
      url: '{{ .apiBaseUrl }}/v1/donation/validate',
      dataType: 'json',
      type: 'PATCH',
      headers: headers,
      data: JSON.stringify(data),
      success: function(data){
        getRandomImages();
      }
    });
  }

  function getMultiValidationRequestData(){
    data = {}
    validations = []
    containsOnlyInvalid = true;
    for (var key in imageValidationMapping) {
      if (imageValidationMapping.hasOwnProperty(key)) {
        validations.push({"uuid": key, "valid": ((imageValidationMapping[key]) ? "yes" : "no")})
        if(imageValidationMapping[key])  containsOnlyInvalid = false;
      }
    }

    data["validations"] = validations;
    data["label"] = $("#label").attr("label");
    data["sublabel"] = $("#label").attr("sublabel");
    return {
      data : data,
      containsOnlyInvalid: containsOnlyInvalid
    }

  }

  function toggleValidationMode(){
    if(isMultiValidationMode()){
      $("#singleValidationContainer").show();
      $("#multiValidationContainer").hide();
    }
    else {
      $("#singleValidationContainer").hide();
      $("#multiValidationContainer").show();
    }
  }

  function setLabel(label, sublabel){
    $("#label").attr("label", label)
    $("#label").attr("sublabel", sublabel)
    if(sublabel === ""){
      $("#label").text(label)
    } 
    else {
      $("#label").text((sublabel + "/" + label))
    }
  }

  $(document).ready(function(){
    var browserFingerprint = null;
    setLabel({{ .randomImage.Label }}, {{ .randomImage.Sublabel }});

    $("#multiValidationContainer").hide();

    //switch between multi-validation mode and single-validation mode with 'm'
    Mousetrap.bind('m', function() { 
      toggleValidationMode();

      getRandomImages();
    });

    //image grid is loaded, we can now show the "done" button
    $('#imageGrid').on('jg.complete', function() {
      $('#multiValidateDoneButton').show();
      $('#multivalidationLabel').show();
      $('#multiValidationInfoText').show();
    });


    $("#imageGrid").selectable({
      filter: ':not(div[class*="img-container"])'
    });

    $("#imageGrid").selectable({
      selected: function(event, ui) {
        imageValidationMapping[$(ui.selected).attr('imageId')] = true;
      },
      unselected: function(event, ui) {
        imageValidationMapping[$(ui.unselected).attr('imageId')] = false;
      }
    });

    $("#imageGrid").on("selectablestart", function (event, ui) {
      event.originalEvent.ctrlKey = true;
    });


    $("#yesButton").add('#noButton').click(function(e) {
      var action = (e.target.id === "yesButton") ? "yes" : "no";

      var data = {"label": $("#label").attr("label"), "sublabel": $("#label").attr("sublabel")}

      var headers = {}
      if(browserFingerprint !== null)
        headers['X-Browser-Fingerprint'] = browserFingerprint;

      e.preventDefault();
      var url = '{{ .apiBaseUrl }}/v1/donation/' + $("#image").attr("imageId") + '/validate/' + action;
      $.ajax({
        url: url,
        dataType: 'json',
        type: 'POST',
        data: JSON.stringify(data),
        headers: headers, 
        success: function(data){
          getRandomImages();
        }
      });
    });

    $("#confirmNoValidOkButton").click(function(e) {
      e.preventDefault();
      multiValidate(getMultiValidationRequestData().data, browserFingerprint);
    });


    //when user wants to submit a multi validation, check if we have at least one positively labeled image. If not, show a confirmation
    //dialog (it's very unlikey that we don't have a single positvely labeled image)
    $("#multiValidateDoneButton").click(function(e) {
      e.preventDefault();

      data = getMultiValidationRequestData();

      if(data.containsOnlyInvalid) {
        $("#confirmNoValidDlgContent").html(("Are you sure that there is no <b>" + $("#label").text() + "</b> in the image?"));
        $("#confirmNoValidDlg").modal('setting', { detachable:false }).modal('show');
      }
      else {
        multiValidate(data.data, browserFingerprint);
      }
    });

    new Fingerprint2().get(function(result, components){
      browserFingerprint = result;
    });

  });
</script>
</head>
<body>

  {{ template "menu.html" .}}

  <!-- Page Contents -->
  <div class="pusher">
    {{ if .showHeader }} 
    <div class="ui inverted vertical masthead center aligned segment">
      {{ template "pointing_menu.html" .}}
      <div class="ui text container">
       <h2 class="ui inverted header">What do you see?</h2>
     </div>
   </div>
   {{ end }}

   <div class="ui stackable grid vertical stripe">
    <div class="four wide column">
    </div>
    <div class="eight wide center aligned column" id="singleValidationContainer">
      <img class="ui large image centered" src="donations/{{ .randomImage.Id }}" imageId="{{ .randomImage.Id }}" id="image">
      <div class="ui center aligned basic segment">
        <h1 class="ui header" id="label" label="" sublabel=""></h1>
        <button class="negative ui button center aligned" id="noButton">NO</button>
        <button class="positive ui button center aligned" id="yesButton">YES</button>
      </div>
      {{ template "validate_help_dlg.html" .}}
      {{ template "report_dlg.html" .}}
    </div>

    <div class="eight wide center aligned column" id="multiValidationContainer">
      <div id="imageGrid" class="selectable justified-gallery">
      </div>

      <div class="ui center aligned basic segment">
        <p id="multiValidationInfoText">Select all images where you see: </p>
        <h1 class="ui header" id="multivalidationLabel"></h1>
        <p></p>
        <button class="positive ui button center aligned" id="multiValidateDoneButton">DONE</button>
      </div>

      <div class="ui modal" id="confirmNoValidDlg">
        <div class="ui header">
          Confirmation
        </div>
        <div class="content" id="confirmNoValidDlgContent">
          <p>Are you sure that there is no <b>{{ .randomImage.Label }}</b> in the image?</p>
        </div>
        <div class="actions">
          <div class="ui red cancel inverted button" id="confirmNoValidCancelButton">
            <i class="remove icon"></i>
            Cancel
          </div>
          <div class="ui green ok inverted button" id="confirmNoValidOkButton">
            <i class="checkmark icon"></i>
            Yes
          </div>
        </div>
      </div>

    </div>

    <div class="four wide center aligned column">
      {{ template "img_info.html" .}}
    </div>
  </div>


</div>
{{ if .showFooter }} 
{{ template "footer.html" .}}
{{ end }}

</body>

</html>