<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <title>{{ .title }}</title>
  
  <link rel="stylesheet" href="css/semantic.min.css"/>
  <script src="js/jquery.min.js"></script>
  <script src="js/semantic.min.js"></script> 
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="css/common.css"/>
  <link rel="stylesheet" href="css/common_sub.css"/>
  <script src="js/common.js"></script> 
  <script src="js/fabric.min.js"></script>
  <script src="js/fabric_helper.js?v=1"></script>
  <script src="js/fingerprint2.min.js"></script>
  <script src="js/chart.bundle.min.js"></script>
  <script src="js/poll.js"></script>

  <style>
    .canvas-container{margin: 0 auto;}
  </style>

  <script type="text/javascript">
    function setLabel(label, sublabel){
      $("#label").attr("label", label)
      $("#label").attr("sublabel", sublabel)
      if(sublabel === ""){
        $("#label").text(label)
      } 
      else {
        $("#label").text((sublabel + "/" + label))
      }
    }

    function showHideControls(show){
      if(show){
        $('#validationContainer').show();
        $('#loadingIndicator').addClass('active');
        $('#loadingIndicator').hide();

        if(isPollDataEmpty()) //only show poll button if there is actual data available
          $('#showMePollButton').hide();
        else
          $('#showMePollButton').show();
      }
      else {
        $('#poll-chart').hide();
        $('#validationContainer').hide();
        $('#loadingIndicator').removeClass('active');
        $('#loadingIndicator').show();
        $('#showMePollButton').hide();
      }
    }

    $(document).ready(function(){
      setLabel({{ .randomImage.Label }}, {{ .randomImage.Sublabel }});
      var browserFingerprint = null;

      var canvas = new fabric.Canvas('canvas');
      setCanvasBackgroundImageUrl(canvas, 'donations/{{ .randomImage.ImageId }}', function() {
        drawAnnotations(canvas, {{ .randomImage.Annotations }}, canvas.backgroundImage.scaleX);
      });

      setPollData({{ .randomImage.NumOfValid }}, {{ .randomImage.NumOfInvalid }});
      showHideControls(true);


      $("#showMePollButton").click(function(e) {
        createPoll();
        showHidePoll(true);
        $("#showMePollButton").hide();
      });

      $("#yesButton").add('#noButton').click(function(e) {
        var action = (e.target.id === "yesButton") ? "yes" : "no";
        var data = {"label": $("#label").attr("label"), "sublabel": $("#label").attr("sublabel")};

        var headers = {}
        if(browserFingerprint !== null)
          headers["X-Browser-Fingerprint"] = browserFingerprint;

        showHideControls(false);
        showHidePoll(false);

        e.preventDefault();
        var url = '{{ .apiBaseUrl}}/v1/annotation/' + $("#canvas").attr("annotationId") + '/validate/' + action;
          $.ajax({
              url: url,
              dataType: 'json',
              type: 'POST',
              data: JSON.stringify(data),
              headers: headers,
              success: function(data){
                $.ajax({
                  url: '{{ .apiBaseUrl }}/v1/annotation',
                  dataType: 'json',
                  type: 'GET',
                  success: function(data){
                    $("#canvas").attr("imageId", data.image_uuid);
                    $("#canvas").attr("annotationId", data.annotation_uuid);
                    canvas.clear();
                    setLabel(data.label, data.sublabel);
                    setPollData(data["validations"]["num_yes"], data["validations"]["num_no"]);

                    setCanvasBackgroundImageUrl(canvas, ('donations/' + data.image_uuid), function() {
                      drawAnnotations(canvas, data.annotations, canvas.backgroundImage.scaleX);
                      showHideControls(true);
                    });
                  }
                });
              }
          });
      });

      new Fingerprint2().get(function(result, components){
        browserFingerprint = result;
      });

    });

  </script>
</head>
<body>

{{ template "menu.html" .}}

<!-- Page Contents -->
<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">
  	{{ template "pointing_menu.html" .}}  
  	<div class="ui text container">
      <h2 class="ui inverted header" id="label" label="" sublabel=""></h2>
      <h2>All occurrences annotated?</h2>
    </div>
  </div>


  <div class="ui stackable grid vertical stripe">
    <div class="four wide center aligned column">
    </div>

    <div class="eight wide center aligned column">
      <div class="ui center aligned basic segment" id="validationContainer">
          <canvas id="canvas" style="border:1px solid #000000;" imageId="{{ .randomImage.ImageId }}" annotationId="{{ .randomImage.AnnotationId }}"></canvas> 
          <p></p>
          <button class="negative ui button center aligned" id="noButton">NO</button>
          <button class="positive ui button center aligned" id="yesButton">YES</button>
      </div>

      <div hidden class="ui large loader" id="loadingIndicator"></div>

      {{ template "validate_help_dlg.html" .}}
      {{ template "report_dlg.html" .}}
    </div>

    <div class="four wide center aligned column">
      {{ template "img_info.html" .}}
      <h3></h3>
      <button class="ui button center aligned" id="showMePollButton" hidden>
        <i class="pie chart icon"></i>
        What other people are thinking
      </button>
      <!--<button class="positive ui button center aligned" id="showMePollButton">Additional Information</button>-->
      <canvas id="poll-chart" hidden/>

    </div>

  </div>



</div>
{{ template "footer.html" .}}

</body>

</html>