package main

const SENTRY_DSN string = ""
const IMAGE_DB_CONNECTION_STRING string = "user=monkey dbname=imagemonkey password=dbRuwMUo4Nfhs5hmMxhk sslmode=disable"
const JWT_SECRET = "46e395d38c83ef2e923158d05ecb7d3b61f609dee747c58420c1faeb6af01874ddbf0074d7eaa0d6977ded5a50443b6bfff14ed21d34eb0085132028c3650bbf"
const X_CLIENT_ID = ""
const X_CLIENT_SECRET = ""